### **DST 2(DATA FOR ALL TEAMS.csv)**
##### Trina De

In [1]:
!pip install folium==0.2.1

Collecting folium==0.2.1
  Downloading https://files.pythonhosted.org/packages/72/dd/75ced7437bfa7cb9a88b96ee0177953062803c3b4cde411a97d98c35adaf/folium-0.2.1.tar.gz (69kB)
     |████████████████████████████████| 71kB 3.2MB/s
Requirement already satisfied: Jinja2 in /usr/local/lib/python3.6/dist-packages (from folium==0.2.1) (2.10.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2->folium==0.2.1) (1.1.1)
Building wheels for collected packages: folium
  Building wheel for folium (setup.py) ... done
  Created wheel for folium: filename=folium-0.2.1-cp36-none-any.whl size=79979 sha256=3cc7771ef271175d6bb9c548c61a7f6d82952873b58884266d2afa2c7926c672
  Stored in directory: /root/.cache/pip/wheels/b8/09/f0/52d2ef419c2aaf4fb149f92a33e0008bdce7ae816f0dd8f0c5
Successfully built folium
Installing collected packages: folium
  Found existing installation: folium 0.8.3
    Uninstalling folium-0.8.3:
      Successfully uninstalled folium-0.8.3
Successfully installed folium-0.2.1

In [2]:
!pip install coverage==3.7.1

Requirement already satisfied: coverage==3.7.1 in /usr/local/lib/python3.6/dist-packages (3.7.1)

In [3]:
!pip install pycm

Collecting pycm
  Downloading https://files.pythonhosted.org/packages/cb/0b/da5b285528def59a12a4b39ed9cc7d0fd45ae8d64d81a4eeec2450c1510d/pycm-2.5-py2.py3-none-any.whl (52kB)
     |████████████████████████████████| 61kB 3.0MB/s
Collecting art>=1.8
  Downloading https://files.pythonhosted.org/packages/bd/56/e19355fbb3ea08d6133e7352242d47cdb6d09cf1e5744ab56443fb8bb6cb/art-4.3-py2.py3-none-any.whl (514kB)
     |████████████████████████████████| 522kB 13.6MB/s
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pycm) (1.17.4)
Collecting coverage>=4.1
  Downloading https://files.pythonhosted.org/packages/51/b1/13609068fff1c8c056f0c4601ad6985cf5c1bbfc529196ab08bd2a57dc39/coverage-4.5.4-cp36-cp36m-manylinux1_x86_64.whl (205kB)
     |████████████████████████████████| 215kB 60.4MB/s
ERROR: datascience 0.10.6 has requirement coverage==3.7.1, but you'll have coverage 4.5.4 which is incompatible.
ERROR: coveralls 0.5 has requirement coverage<3.999,>=3.6, but you'll have coverage 4.5.4 which is incompatible.
Installing collected packages: coverage, art, pycm
  Found existing installation: coverage 3.7.1
    Uninstalling coverage-3.7.1:
      Successfully uninstalled coverage-3.7.1
Successfully installed art-4.3 coverage-4.5.4 pycm-2.5

In [4]:
!pip install scikit-tda

Collecting scikit-tda
  Downloading https://files.pythonhosted.org/packages/e2/67/14676df9d3c8fae3324f6a73e60e9b705c1dfea8131e275a313ab90bd09d/scikit_tda-0.0.3-py3-none-any.whl
Collecting kmapper
  Downloading https://files.pythonhosted.org/packages/fb/3f/a1290b9425a7e0ff4ae51a6e6ff68e50ad793b3460f435c2ec81c0383751/kmapper-1.2.0-py3-none-any.whl (93kB)
     |████████████████████████████████| 102kB 4.8MB/s
Collecting tadasets
  Downloading https://files.pythonhosted.org/packages/5b/06/d1b9edccfcd071b245b0d1ab4b22eb2ff7aaeaa6d015db58d701d9782122/tadasets-0.0.4-py3-none-any.whl
Collecting persim
  Downloading https://files.pythonhosted.org/packages/71/4a/ac537e6743337b00a8b3ff8b0d967827d3b5cfd9afd3a0bd117f5809d4d2/persim-0.1.1-py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (1.17.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (3.1.2)
Collecting ripser
  Downloading https://files.pythonhosted.org/packages/4c/17/d5e898161eb8e3b1084419bfc04adbe87d15075daa8e236df72dbe75167e/ripser-0.4.1.tar.gz (79kB)
     |████████████████████████████████| 81kB 9.9MB/s
Requirement already satisfied: numba in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (0.40.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (0.21.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (1.3.3)
Requirement already satisfied: Cython in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (0.29.14)
Requirement already satisfied: pillow in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (4.3.0)
Requirement already satisfied: umap-learn in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (0.3.10)
Requirement already satisfied: Jinja2 in /usr/local/lib/python3.6/dist-packages (from kmapper->scikit-tda) (2.10.3)
Collecting hopcroftkarp
  Downloading https://files.pythonhosted.org/packages/6b/56/7b03eba3c43008c490c9d52e69ea5334b65955f66836eb4f1962f3b0d421/hopcroftkarp-1.2.5.tar.gz
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->scikit-tda) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->scikit-tda) (2.6.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->scikit-tda) (2.4.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->scikit-tda) (1.1.0)
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba->scikit-tda) (0.30.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->scikit-tda) (0.14.0)
Requirement already satisfied: olefile in /usr/local/lib/python3.6/dist-packages (from pillow->scikit-tda) (0.46)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2->kmapper->scikit-tda) (1.1.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib->scikit-tda) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->scikit-tda) (42.0.2)
Building wheels for collected packages: ripser, hopcroftkarp
  Building wheel for ripser (setup.py) ... done
  Created wheel for ripser: filename=ripser-0.4.1-cp36-cp36m-linux_x86_64.whl size=423270 sha256=8e05b470e75c4e69393b8f773ec7d4c1d5011eefbf3e0bb3a6df5ac5d7a103c8
  Stored in directory: /root/.cache/pip/wheels/d4/12/da/56d55c3af62ebd5e0684d521f3e58c1a85ac312502c9e2d47d
  Building wheel for hopcroftkarp (setup.py) ... done
  Created wheel for hopcroftkarp: filename=hopcroftkarp-1.2.5-py2.py3-none-any.whl size=18091 sha256=28b568c25112e5d9406469a30375b58a5311215f869472c0a21835e0807cda6f
  Stored in directory: /root/.cache/pip/wheels/2b/e1/c9/1993c7f7f114b7d3fb2d3e895e02157a7ebf554861e9e54e01
Successfully built ripser hopcroftkarp
Installing collected packages: kmapper, tadasets, hopcroftkarp, persim, ripser, scikit-tda
Successfully installed hopcroftkarp-1.2.5 kmapper-1.2.0 persim-0.1.1 ripser-0.4.1 scikit-tda-0.0.3 tadasets-0.0.4

In [5]:
!pip install kmapper

Requirement already satisfied: kmapper in /usr/local/lib/python3.6/dist-packages (1.2.0)
Requirement already satisfied: Jinja2 in /usr/local/lib/python3.6/dist-packages (from kmapper) (2.10.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from kmapper) (0.21.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from kmapper) (1.17.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from kmapper) (1.3.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2->kmapper) (1.1.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->kmapper) (0.14.0)

##### **Packages Used**

In [0]:
import numpy as np
import pandas as pd
import time
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype
from scipy.stats import spearmanr
import pycm
from pycm import *
import kmapper as km
from sklearn.cluster import DBSCAN
import sklearn
from sklearn import ensemble
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

##### **Loading Notebook from Google Drive**

In [7]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
!cd /gdrive/My\ Drive/

In [80]:
missing_values = ["n/a", "na", "--", ' ', "NAN","nan","NA","NaN"]
data = pd.read_excel("/gdrive/My Drive/DATA FOR ALL TEAMS-25MB.xlsx",na_values=missing_values)
data.head()

  Card-Wallet-Token ID PROCESSING_CODE  ... Token Data  TARGET
0                  DE2             DE3  ...     DE4809  DE4810
1     6086941819072006          174000  ...        NaN     NaN
2     6086941026163002          174000  ...        NaN     NaN
3     6086941026163002          174000  ...        NaN     NaN
4     6086941055683003          174000  ...        NaN     NaN

[5 rows x 36 columns]

In [86]:
data2 = data.iloc[1:,:]
data2.head()

  Card-Wallet-Token ID PROCESSING_CODE  ... Token Data TARGET
1     6086941819072006          174000  ...        NaN    NaN
2     6086941026163002          174000  ...        NaN    NaN
3     6086941026163002          174000  ...        NaN    NaN
4     6086941055683003          174000  ...        NaN    NaN
5     6086941020177008          004000  ...        NaN    NaN

[5 rows x 36 columns]

##### **Changing non NaNs in 'TARGET' column to 'Not Fraud'**

In [0]:
data2['TARGET'] = [x if x == 'Fraud' else 'Not Fraud' for x in list(data2['TARGET'])]
set(data2['TARGET'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

{'Fraud', 'Not Fraud'}

In [0]:
data2.head()

  Card-Wallet-Token ID PROCESSING_CODE  ... Token Data     TARGET
1     6086941819072006          174000  ...        NaN  Not Fraud
2     6086941026163002          174000  ...        NaN  Not Fraud
3     6086941026163002          174000  ...        NaN  Not Fraud
4     6086941055683003          174000  ...        NaN  Not Fraud
5     6086941020177008          004000  ...        NaN  Not Fraud

[5 rows x 36 columns]

##### **Splitting up categorical check and encoding function into three parts**

In [0]:
# Function that only checks categorical
def check_categorical(l):
   if(len(set(l))==(len(l))):
     return False
   elif(len(set(l))==1):
     return False
   else :
     return True

In [0]:
# Function that assigns numeric encoding to it
def int_encoding(col):
    # l = np.array(l)
    # c=0
    # for i in set(l):
    #   l[np.where(l == i)] = c
    #   c=c+1
    # return l
    # cw_bins = np.arange(0,len(set(l)),1)
    # l = np.digitize(l, bins=cw_bins)
    new_col = pd.Categorical(col, categories=col.unique()).codes
    return new_col

In [0]:
# Function that normalizes the encoding to between 0 and 1
def normalized_encoding(col):
    # l = np.array(l)
    # c=0
    # for i in set(l):
    #   l[np.where(l == i)] = c
    #   c=c+1
    # l = l/np.max(l)
    # return l
    # cw_bins = np.arange(0,len(set(l)),1)
    # l = np.digitize(l, bins=cw_bins)
    # l = l/np.max(l)
    new_col = pd.Categorical(col, categories=col.unique()).codes
    new_col = new_col/np.max(list(new_col))
    return new_col

In [0]:
# Function that returns one hot encoding of a list of a categorical variable
def one_hot_encoding(l):
    l = pd.Series(l)
    one_hot = pd.get_dummies(l)
    return one_hot ## This output is a dataframe

##### All 3 encoding functions would need the check of categorical to be performed first

##### **Finding categorical variables for 'all_txns.csv'**

##### Removing NaN type columns

In [87]:
names = list(data2.columns)
removable_indices =[]
for col in data2.columns:
  ## Removing columns that have NaNs
  if(data2[col].isnull().sum()==len(data2[col])): ## We remove those columns only which are full of nans
    removable_indices.append(col)
  elif(data2[col].isnull().sum()<len(data2[col])):
    data2[col] = data2[col].fillna('empty') ## changing NaNs to 'empty' so they can represent a seperate category
  ## Removing columns that have object data type such as date object or filled with '???'
  # if(data2[col].dtype.name == 'object'): ## Turns out we cannot remove object data types here because all the data types are object and removing them would remove everything
  #   removable_indices.append(col)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
removable_indices = set(removable_indices)
data2 = data2.drop(removable_indices,1)

In [89]:
data2.head()

  Card-Wallet-Token ID PROCESSING_CODE  ... Token Data TARGET
1     6086941819072006          174000  ...      empty  empty
2     6086941026163002          174000  ...      empty  empty
3     6086941026163002          174000  ...      empty  empty
4     6086941055683003          174000  ...      empty  empty
5     6086941020177008          004000  ...      empty  empty

[5 rows x 36 columns]

In [90]:
data2.shape

(996861, 36)

In [0]:
all_teams_data_encoded = pd.DataFrame()
all_teams_data_normalized_encoded = pd.DataFrame()

In [92]:
start_time = time.time()
names = list(data2.columns)
for col in data2.columns:
  print(col)
  bool = check_categorical(list(data2[col]))
  if(bool == True):
    ## Changing categorical columns to encoded columns
    all_teams_data_encoded[col] = int_encoding(data2[col])
    all_teams_data_normalized_encoded[col] = normalized_encoding(data2[col])
#data2.head()
end_time = time.time()
print("Time taken to find and encode categorical columns : {} seconds".format(end_time-start_time))

Card-Wallet-Token ID
PROCESSING_CODE
TRANSACTION_AMOUNT
SETTLEMENT_AMOUNT
BILLING_AMOUNT
Transaction Date and Time
CONVERSION_RATE
Expiry Date
CONVERSION_RATE_DATE
Merchant Category Code
ACQUIRING_COUNTRY_CODE
POS entry Mode
ACQUIRER_INSTITUTION_CODE
Authorization Code
Approval Decision
Card Service Code
TID
MID
MERCHANT NAME AND ADDRESS
Private Data 48
Transaction Category Code
DE48 Data Length
TRANSACTION_CURRENCY
SETTLEMENT_CURRENCY
BILLING_CURRENCY
POS_DATA
Interface ID
Terminal Type
Token Data-C1
Additional Payment Info
Ecommerce Data
ECI Indicator
Remaining Balance
Private Data - Additional Info
Token Data
TARGET
Time taken to find and encode categorical columns : 14.563957452774048 seconds

##### Time taken is around 8 seconds

In [93]:
all_teams_data_encoded.head()

   Card-Wallet-Token ID  PROCESSING_CODE  ...  Token Data  TARGET
0                     0                0  ...           0       0
1                     1                0  ...           0       0
2                     1                0  ...           0       0
3                     2                0  ...           0       0
4                     3                1  ...           0       0

[5 rows x 36 columns]

In [94]:
all_teams_data_normalized_encoded.head()

   Card-Wallet-Token ID  PROCESSING_CODE  ...  Token Data  TARGET
0              0.000000         0.000000  ...         0.0     0.0
1              0.000032         0.000000  ...         0.0     0.0
2              0.000032         0.000000  ...         0.0     0.0
3              0.000065         0.000000  ...         0.0     0.0
4              0.000097         0.090909  ...         0.0     0.0

[5 rows x 36 columns]

In [0]:
## We are removing these since we know that amounts are continous variables and does not pertain to our analysis here
all_teams_data_encoded = all_teams_data_encoded.drop(['TRANSACTION_AMOUNT','SETTLEMENT_AMOUNT','BILLING_AMOUNT'],1)
all_teams_data_normalized_encoded = all_teams_data_normalized_encoded.drop(['TRANSACTION_AMOUNT','SETTLEMENT_AMOUNT','BILLING_AMOUNT'],1)

In [96]:
print(all_teams_data_encoded.shape)
print(all_teams_data_normalized_encoded.shape)

(996861, 33)
(996861, 33)

##### **Writing encoded dataframe to google drive to be used directly for future purposes**

In [0]:
all_teams_data_encoded.to_csv('all_teams_data_encoded.csv')
!cp all_teams_data_encoded.csv /gdrive/My\ Drive/all_teams_data_encoded.csv

In [0]:
all_teams_data_normalized_encoded.to_csv('all_teams_data_normalized_encoded.csv')
!cp all_teams_data_normalized_encoded.csv /gdrive/My\ Drive/all_teams_data_normalized_encoded.csv

##### **From now on we will be using all_teams_data_encoded.csv and all_teams_data_normalized_encoded.csv for our purposes**

In [0]:
encoded = pd.read_csv("/gdrive/My Drive/all_teams_data_encoded.csv")
normalized_encoded = pd.read_csv("/gdrive/My Drive/all_teams_data_normalized_encoded.csv")

##### **Function to remove columns which are a list on distinct values for eg. the index**

In [0]:
def remove_index_like(df):
  df_new = df.copy()
  indices = []
  for i in df_new.columns:
    if len(df[i]) == len(set(df[i])):
      indices.append(i)
  df_new = df_new.drop(indices,1)
  return df_new

In [0]:
encoded = remove_index_like(encoded)

In [110]:
encoded.shape

(996861, 33)

In [111]:
normalized_encoded = remove_index_like(normalized_encoded)
normalized_encoded.shape

(996861, 33)

##### So we end up with 33 columns here unlike the 27 columns before in all_txns.csv

##### **Function to remove constant values**

In [0]:
def remove_constants(df):
  df_new = df.copy()
  indices = []
  for col in df_new.columns:
    if len(set(df_new[col])) == 1:
      indices.append(col)
  df_new = df_new.drop(indices,1)
  return df_new

In [112]:
encoded = remove_constants(encoded)
encoded.shape

(996861, 33)

In [113]:
normalized_encoded = remove_constants(normalized_encoded)
normalized_encoded.shape

(996861, 33)

##### **Correlation between columns of encoded data**

##### **Spearman's Rank Correlation**

In [114]:
corr_spearman_df = encoded.corr(method='spearman')
corr_spearman_df

                                Card-Wallet-Token ID  ...    TARGET
Card-Wallet-Token ID                        1.000000  ... -0.051839
PROCESSING_CODE                             0.999585  ... -0.052523
Transaction Date and Time                   0.999913  ... -0.052054
CONVERSION_RATE                             0.999318  ... -0.052823
Expiry Date                                 0.999327  ... -0.051194
CONVERSION_RATE_DATE                       -0.155218  ...  0.092702
Merchant Category Code                      0.999255  ... -0.051747
ACQUIRING_COUNTRY_CODE                      0.999615  ... -0.050166
POS entry Mode                              0.999785  ... -0.050496
ACQUIRER_INSTITUTION_CODE                   0.999590  ... -0.051887
Authorization Code                         -0.962031  ...  0.047349
Approval Decision                           0.999697  ... -0.048733
Card Service Code                           0.999610  ... -0.052061
TID                                         0.999760  ... -0.051861
MID                                        -0.961053  ... -0.022603
MERCHANT NAME AND ADDRESS                   0.999751  ... -0.051864
Private Data 48                            -0.367940  ...  0.037951
Transaction Category Code                  -0.367943  ...  0.037906
DE48 Data Length                           -0.364666  ...  0.038308
TRANSACTION_CURRENCY                        0.999643  ... -0.050492
SETTLEMENT_CURRENCY                         0.999696  ... -0.050273
BILLING_CURRENCY                            0.999663  ... -0.049921
POS_DATA                                    0.999615  ... -0.051898
Interface ID                                0.999797  ... -0.051912
Terminal Type                               0.999668  ... -0.050864
Token Data-C1                               0.663326  ... -0.013433
Additional Payment Info                    -0.348935  ...  0.039830
Ecommerce Data                             -0.511133  ... -0.001180
ECI Indicator                              -0.536157  ... -0.001237
Remaining Balance                          -0.946997  ... -0.003082
Private Data - Additional Info             -0.348937  ...  0.039767
Token Data                                 -0.040023  ... -0.000093
TARGET                                     -0.051839  ...  1.000000

[33 rows x 33 columns]

##### **We will now try to return the pairs for which there is significant correlation between columns**

In [0]:
index_dict2={}
for col in corr_spearman_df:
  ## Picking out pairs for which the correlation is greater than 0.7 or by our understanding, high
  index = np.where(abs(corr_spearman_df[col]) > 0.7)
  ## Getting indices of such pairs
  index_dict2[col]=index

In [0]:
names2=np.array(corr_spearman_df.columns)
for key in index_dict2.keys():
  ## Coverting the indices into column names
  index_dict2[key]=names2[index_dict2[key][0]]

In [117]:
index_dict2

{'ACQUIRER_INSTITUTION_CODE': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'ACQUIRING_COUNTRY_CODE': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Additional Payment Info': array(['Private Data 48', 'Transaction Category Code', 'DE48 Data Length',
        'Additional Payment Info', 'Private Data - Additional Info'],
       dtype=object),
 'Approval Decision': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Authorization Code': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'BILLING_CURRENCY': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'CONVERSION_RATE': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'CONVERSION_RATE_DATE': array(['CONVERSION_RATE_DATE'], dtype=object),
 'Card Service Code': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Card-Wallet-Token ID': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'DE48 Data Length': array(['Private Data 48', 'Transaction Category Code', 'DE48 Data Length',
        'Additional Payment Info', 'Private Data - Additional Info'],
       dtype=object),
 'ECI Indicator': array(['Ecommerce Data', 'ECI Indicator'], dtype=object),
 'Ecommerce Data': array(['Ecommerce Data', 'ECI Indicator'], dtype=object),
 'Expiry Date': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Interface ID': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'MERCHANT NAME AND ADDRESS': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'MID': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Merchant Category Code': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'POS entry Mode': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'POS_DATA': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'PROCESSING_CODE': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Private Data - Additional Info': array(['Private Data 48', 'Transaction Category Code', 'DE48 Data Length',
        'Additional Payment Info', 'Private Data - Additional Info'],
       dtype=object),
 'Private Data 48': array(['Private Data 48', 'Transaction Category Code', 'DE48 Data Length',
        'Additional Payment Info', 'Private Data - Additional Info'],
       dtype=object),
 'Remaining Balance': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'SETTLEMENT_CURRENCY': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'TARGET': array(['TARGET'], dtype=object),
 'TID': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'TRANSACTION_CURRENCY': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Terminal Type': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Token Data': array(['Token Data'], dtype=object),
 'Token Data-C1': array(['Token Data-C1'], dtype=object),
 'Transaction Category Code': array(['Private Data 48', 'Transaction Category Code', 'DE48 Data Length',
        'Additional Payment Info', 'Private Data - Additional Info'],
       dtype=object),
 'Transaction Date and Time': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object)}

##### **Doing the same for the normalized and encoded dataframe**

In [118]:
start = time.time()
corr_spearman_df_normed = normalized_encoded.corr(method='spearman')

index_dict3={}
for col in corr_spearman_df_normed:
  index = np.where(abs(corr_spearman_df_normed[col]) > 0.7)
  index_dict3[col]=index

names3=np.array(corr_spearman_df_normed.columns)
for key in index_dict3.keys():
  index_dict3[key]=names3[index_dict3[key][0]]

end = time.time()
print("Time taken to create Correlation Dictionary for encoded and normalized dataframe is: {} seconds".format(end-start))

Time taken to create Correlation Dictionary for encoded and normalized dataframe is: 35.93488383293152 seconds

In [119]:
index_dict3

{'ACQUIRER_INSTITUTION_CODE': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'ACQUIRING_COUNTRY_CODE': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Additional Payment Info': array(['Private Data 48', 'Transaction Category Code', 'DE48 Data Length',
        'Additional Payment Info', 'Private Data - Additional Info'],
       dtype=object),
 'Approval Decision': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Authorization Code': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'BILLING_CURRENCY': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'CONVERSION_RATE': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'CONVERSION_RATE_DATE': array(['CONVERSION_RATE_DATE'], dtype=object),
 'Card Service Code': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Card-Wallet-Token ID': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'DE48 Data Length': array(['Private Data 48', 'Transaction Category Code', 'DE48 Data Length',
        'Additional Payment Info', 'Private Data - Additional Info'],
       dtype=object),
 'ECI Indicator': array(['Ecommerce Data', 'ECI Indicator'], dtype=object),
 'Ecommerce Data': array(['Ecommerce Data', 'ECI Indicator'], dtype=object),
 'Expiry Date': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Interface ID': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'MERCHANT NAME AND ADDRESS': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'MID': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Merchant Category Code': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'POS entry Mode': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'POS_DATA': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'PROCESSING_CODE': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Private Data - Additional Info': array(['Private Data 48', 'Transaction Category Code', 'DE48 Data Length',
        'Additional Payment Info', 'Private Data - Additional Info'],
       dtype=object),
 'Private Data 48': array(['Private Data 48', 'Transaction Category Code', 'DE48 Data Length',
        'Additional Payment Info', 'Private Data - Additional Info'],
       dtype=object),
 'Remaining Balance': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'SETTLEMENT_CURRENCY': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'TARGET': array(['TARGET'], dtype=object),
 'TID': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'TRANSACTION_CURRENCY': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Terminal Type': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Token Data': array(['Token Data'], dtype=object),
 'Token Data-C1': array(['Token Data-C1'], dtype=object),
 'Transaction Category Code': array(['Private Data 48', 'Transaction Category Code', 'DE48 Data Length',
        'Additional Payment Info', 'Private Data - Additional Info'],
       dtype=object),
 'Transaction Date and Time': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object)}

##### **Pearson's Correlation**

In [120]:
start = time.time()
corr_pearson_df = encoded.corr(method='pearson')

index_dict={}
for col in corr_pearson_df:
  ## picking out columns for which correlation with col is greater than 0.7
  index = np.where(abs(corr_pearson_df[col]) > 0.7)
  index_dict[col]=index

names=np.array(corr_pearson_df.columns)
for key in index_dict.keys():
  index_dict[key]=names[index_dict[key][0]]

end = time.time()
print("Time taken to create Correlation Dictionary for only encoded dataframe is: {} seconds".format(end-start))

Time taken to create Correlation Dictionary for only encoded dataframe is: 2.488689422607422 seconds

In [121]:
index_dict

{'ACQUIRER_INSTITUTION_CODE': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'ACQUIRING_COUNTRY_CODE': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Additional Payment Info': array(['Private Data 48', 'Transaction Category Code',
        'Additional Payment Info', 'Private Data - Additional Info'],
       dtype=object),
 'Approval Decision': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Authorization Code': array(['PROCESSING_CODE', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'MID', 'TRANSACTION_CURRENCY', 'SETTLEMENT_CURRENCY',
        'BILLING_CURRENCY', 'POS_DATA', 'Interface ID', 'Terminal Type',
        'Remaining Balance'], dtype=object),
 'BILLING_CURRENCY': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'CONVERSION_RATE': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'CONVERSION_RATE_DATE': array(['CONVERSION_RATE_DATE', 'DE48 Data Length'], dtype=object),
 'Card Service Code': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Card-Wallet-Token ID': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE', 'Approval Decision',
        'Card Service Code', 'TID', 'MERCHANT NAME AND ADDRESS',
        'TRANSACTION_CURRENCY', 'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY',
        'POS_DATA', 'Interface ID', 'Terminal Type'], dtype=object),
 'DE48 Data Length': array(['CONVERSION_RATE_DATE', 'DE48 Data Length'], dtype=object),
 'ECI Indicator': array(['ECI Indicator'], dtype=object),
 'Ecommerce Data': array(['Ecommerce Data'], dtype=object),
 'Expiry Date': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Interface ID': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'MERCHANT NAME AND ADDRESS': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE', 'Approval Decision',
        'Card Service Code', 'TID', 'MERCHANT NAME AND ADDRESS',
        'TRANSACTION_CURRENCY', 'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY',
        'POS_DATA', 'Interface ID', 'Terminal Type'], dtype=object),
 'MID': array(['Authorization Code', 'MID', 'Remaining Balance'], dtype=object),
 'Merchant Category Code': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'POS entry Mode': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'POS_DATA': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'PROCESSING_CODE': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Private Data - Additional Info': array(['Private Data 48', 'Transaction Category Code',
        'Additional Payment Info', 'Private Data - Additional Info'],
       dtype=object),
 'Private Data 48': array(['Private Data 48', 'Transaction Category Code',
        'Additional Payment Info', 'Private Data - Additional Info'],
       dtype=object),
 'Remaining Balance': array(['PROCESSING_CODE', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'MID', 'TRANSACTION_CURRENCY', 'SETTLEMENT_CURRENCY',
        'BILLING_CURRENCY', 'POS_DATA', 'Interface ID', 'Terminal Type',
        'Remaining Balance'], dtype=object),
 'SETTLEMENT_CURRENCY': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'TARGET': array(['TARGET'], dtype=object),
 'TID': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE', 'Approval Decision',
        'Card Service Code', 'TID', 'MERCHANT NAME AND ADDRESS',
        'TRANSACTION_CURRENCY', 'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY',
        'POS_DATA', 'Interface ID', 'Terminal Type'], dtype=object),
 'TRANSACTION_CURRENCY': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Terminal Type': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE',
        'Authorization Code', 'Approval Decision', 'Card Service Code',
        'TID', 'MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY',
        'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY', 'POS_DATA',
        'Interface ID', 'Terminal Type', 'Remaining Balance'], dtype=object),
 'Token Data': array(['Token Data'], dtype=object),
 'Token Data-C1': array(['Token Data-C1'], dtype=object),
 'Transaction Category Code': array(['Private Data 48', 'Transaction Category Code',
        'Additional Payment Info', 'Private Data - Additional Info'],
       dtype=object),
 'Transaction Date and Time': array(['Card-Wallet-Token ID', 'PROCESSING_CODE',
        'Transaction Date and Time', 'CONVERSION_RATE', 'Expiry Date',
        'Merchant Category Code', 'ACQUIRING_COUNTRY_CODE',
        'POS entry Mode', 'ACQUIRER_INSTITUTION_CODE', 'Approval Decision',
        'Card Service Code', 'TID', 'MERCHANT NAME AND ADDRESS',
        'TRANSACTION_CURRENCY', 'SETTLEMENT_CURRENCY', 'BILLING_CURRENCY',
        'POS_DATA', 'Interface ID', 'Terminal Type'], dtype=object)}

##### This does not make sense since this are not actual numerical values, encodings rather, so we cannot consider linear correlation between them. Also the NaNs appear when there are constants in the column. They will be weeded out when we consider significant correlations and will be removed before clustering.

##### **Checking for constants once again**

In [0]:
def remove_constants(df):
  df_new = df.copy()
  indices = []
  for col in df_new.columns:
    if len(set(df_new[col])) == 1:
      indices.append(col)
  df_new = df_new.drop(indices,1)
  return df_new

In [126]:
encoded = remove_constants(encoded)
encoded.shape

(996861, 33)

##### Doing the test for all the pairs in the dataframe encoded

In [0]:
names = encoded.columns
names = sorted(names)

In [134]:
start = time.time()
related = []
pvalue = []
for i in range(0,len(names)-1):
  for j in range(i+1,len(names)):
    c=1
    n1 = names[i]
    n2 = names[j]
    df = pd.DataFrame()
    df.insert(0,n1,encoded[n1])
    df.insert(1,n2,encoded[n2])
    df_test = df.sample(1000)
    if len(set(df_test[n1])) == 1 :
      c = 0
    elif len(set(df_test[n2])) == 1 :
      c = 0
    while c == 0: ## Sampling till more than one category appears in each column
      df_test = df.sample(1000)
      if len(set(df_test[n1])) == 1 :
        c = 0
      elif len(set(df_test[n2])) == 1 :
        c = 0
      else :
        c = 1
    cm = ConfusionMatrix(list(df_test[n1]), list(df_test[n2]))
    related.append([n1,n2])
    pvalue.append(cm.PValue)
      #print("{}".fomat(n1+','+n2))
    print(i,j)
end = time.time()
print("Time taken to get categorically related variables from encoded is : {}".format(end-start))

0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
0 10
0 11
0 12
0 13
0 14
0 15
0 16
0 17
0 18
0 19
0 20
0 21
0 22
0 23
0 24
0 25
0 26
0 27
0 28
0 29
0 30
0 31
0 32
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
1 11
1 12
1 13
1 14
1 15
1 16
1 17
1 18
1 19
1 20
1 21
1 22
1 23
1 24
1 25
1 26
1 27
1 28
1 29
1 30
1 31
1 32
2 3
2 4
2 5
2 6
2 7
2 8
2 9
2 10
2 11
2 12
2 13
2 14
2 15
2 16
2 17
2 18
2 19
2 20
2 21
2 22
2 23
2 24
2 25
2 26
2 27
2 28
2 29
2 30
2 31
2 32
3 4
3 5
3 6
3 7
3 8
3 9
3 10
3 11
3 12
3 13
3 14
3 15
3 16
3 17
3 18
3 19
3 20
3 21
3 22
3 23
3 24
3 25
3 26
3 27
3 28
3 29
3 30
3 31
3 32
4 5
4 6
4 7
4 8
4 9
4 10
4 11
4 12
4 13
4 14
4 15
4 16
4 17
4 18
4 19
4 20
4 21
4 22
4 23
4 24
4 25
4 26
4 27
4 28
4 29
4 30
4 31
4 32
5 6
5 7
5 8
5 9
5 10
5 11
5 12
5 13
5 14
5 15
5 16
5 17
5 18
5 19
5 20
5 21
5 22
5 23
5 24
5 25
5 26
5 27
5 28
5 29
5 30
5 31
5 32
6 7
6 8
6 9
6 10
6 11
6 12
6 13
6 14
6 15
6 16
6 17
6 18
6 19
6 20
6 21
6 22
6 23
6 24
6 25
6 26
6 27
6 28
6 29
6 30
6 31
6 32
7 8
7 9
7 10
7 11
7 12
7 13
7 14
7 15
7 16
7 17
7 18
7 19
7 20
7 21
7 22
7 23
7 24
7 25
7 26
7 27
7 28
7 29
7 30
7 31
7 32
8 9
8 10
8 11
8 12
8 13
8 14
8 15
8 16
8 17
8 18
8 19
8 20
8 21
8 22
8 23
8 24
8 25
8 26
8 27
8 28
8 29
8 30
8 31
8 32
9 10
9 11
9 12
9 13
9 14
9 15
9 16
9 17
9 18
9 19
9 20
9 21
9 22
9 23
9 24
9 25
9 26
9 27
9 28
9 29
9 30
9 31
9 32
10 11
10 12
10 13
10 14
10 15
10 16
10 17
10 18
10 19
10 20
10 21
10 22
10 23
10 24
10 25
10 26
10 27
10 28
10 29
10 30
10 31
10 32
11 12
11 13
11 14
11 15
11 16
11 17
11 18
11 19
11 20
11 21
11 22
11 23
11 24
11 25
11 26
11 27
11 28
11 29
11 30
11 31
11 32
12 13
12 14
12 15
12 16
12 17
12 18
12 19
12 20
12 21
12 22
12 23
12 24
12 25
12 26
12 27
12 28
12 29
12 30
12 31
12 32
13 14
13 15
13 16
13 17
13 18
13 19
13 20
13 21
13 22
13 23
13 24
13 25
13 26
13 27
13 28
13 29
13 30
13 31
13 32
14 15
14 16
14 17
14 18
14 19
14 20
14 21
14 22
14 23
14 24
14 25
14 26
14 27
14 28
14 29
14 30
14 31
14 32
15 16
15 17
15 18
15 19
15 20
15 21
15 22
15 23
15 24
15 25
15 26
15 27
15 28
15 29
15 30
15 31
15 32
16 17
16 18
16 19
16 20
16 21
16 22
16 23
16 24
16 25
16 26
16 27
16 28
16 29
16 30
16 31
16 32
17 18
17 19
17 20
17 21
17 22
17 23
17 24
17 25
17 26
17 27
17 28
17 29
17 30
17 31
17 32
18 19
18 20
18 21
18 22
18 23
18 24
18 25
18 26
18 27
18 28
18 29
18 30
18 31
18 32
19 20
19 21
19 22
19 23
19 24
19 25
19 26
19 27
19 28
19 29
19 30
19 31
19 32
20 21
20 22
20 23
20 24
20 25
20 26
20 27
20 28
20 29
20 30
20 31
20 32
21 22
21 23
21 24
21 25
21 26
21 27
21 28
21 29
21 30
21 31
21 32
22 23
22 24
22 25
22 26
22 27
22 28
22 29
22 30
22 31
22 32
23 24
23 25
23 26
23 27
23 28
23 29
23 30
23 31
23 32
24 25
24 26
24 27
24 28
24 29
24 30
24 31
24 32
25 26
25 27
25 28
25 29
25 30
25 31
25 32
26 27
26 28
26 29
26 30
26 31
26 32
27 28
27 29
27 30
27 31
27 32
28 29
28 30
28 31
28 32
29 30
29 31
29 32
30 31
30 32
31 32
Time taken to get categorically related variables from encoded is : 94.37891340255737

##### The time taken about is about 1.5 minutes.

In [135]:
## The following are the related columns 
related

[['ACQUIRER_INSTITUTION_CODE', 'ACQUIRING_COUNTRY_CODE'],
 ['ACQUIRER_INSTITUTION_CODE', 'Additional Payment Info'],
 ['ACQUIRER_INSTITUTION_CODE', 'Approval Decision'],
 ['ACQUIRER_INSTITUTION_CODE', 'Authorization Code'],
 ['ACQUIRER_INSTITUTION_CODE', 'BILLING_CURRENCY'],
 ['ACQUIRER_INSTITUTION_CODE', 'CONVERSION_RATE'],
 ['ACQUIRER_INSTITUTION_CODE', 'CONVERSION_RATE_DATE'],
 ['ACQUIRER_INSTITUTION_CODE', 'Card Service Code'],
 ['ACQUIRER_INSTITUTION_CODE', 'Card-Wallet-Token ID'],
 ['ACQUIRER_INSTITUTION_CODE', 'DE48 Data Length'],
 ['ACQUIRER_INSTITUTION_CODE', 'ECI Indicator'],
 ['ACQUIRER_INSTITUTION_CODE', 'Ecommerce Data'],
 ['ACQUIRER_INSTITUTION_CODE', 'Expiry Date'],
 ['ACQUIRER_INSTITUTION_CODE', 'Interface ID'],
 ['ACQUIRER_INSTITUTION_CODE', 'MERCHANT NAME AND ADDRESS'],
 ['ACQUIRER_INSTITUTION_CODE', 'MID'],
 ['ACQUIRER_INSTITUTION_CODE', 'Merchant Category Code'],
 ['ACQUIRER_INSTITUTION_CODE', 'POS entry Mode'],
 ['ACQUIRER_INSTITUTION_CODE', 'POS_DATA'],
 ['ACQUIRER_INSTITUTION_CODE', 'PROCESSING_CODE'],
 ['ACQUIRER_INSTITUTION_CODE', 'Private Data - Additional Info'],
 ['ACQUIRER_INSTITUTION_CODE', 'Private Data 48'],
 ['ACQUIRER_INSTITUTION_CODE', 'Remaining Balance'],
 ['ACQUIRER_INSTITUTION_CODE', 'SETTLEMENT_CURRENCY'],
 ['ACQUIRER_INSTITUTION_CODE', 'TARGET'],
 ['ACQUIRER_INSTITUTION_CODE', 'TID'],
 ['ACQUIRER_INSTITUTION_CODE', 'TRANSACTION_CURRENCY'],
 ['ACQUIRER_INSTITUTION_CODE', 'Terminal Type'],
 ['ACQUIRER_INSTITUTION_CODE', 'Token Data'],
 ['ACQUIRER_INSTITUTION_CODE', 'Token Data-C1'],
 ['ACQUIRER_INSTITUTION_CODE', 'Transaction Category Code'],
 ['ACQUIRER_INSTITUTION_CODE', 'Transaction Date and Time'],
 ['ACQUIRING_COUNTRY_CODE', 'Additional Payment Info'],
 ['ACQUIRING_COUNTRY_CODE', 'Approval Decision'],
 ['ACQUIRING_COUNTRY_CODE', 'Authorization Code'],
 ['ACQUIRING_COUNTRY_CODE', 'BILLING_CURRENCY'],
 ['ACQUIRING_COUNTRY_CODE', 'CONVERSION_RATE'],
 ['ACQUIRING_COUNTRY_CODE', 'CONVERSION_RATE_DATE'],
 ['ACQUIRING_COUNTRY_CODE', 'Card Service Code'],
 ['ACQUIRING_COUNTRY_CODE', 'Card-Wallet-Token ID'],
 ['ACQUIRING_COUNTRY_CODE', 'DE48 Data Length'],
 ['ACQUIRING_COUNTRY_CODE', 'ECI Indicator'],
 ['ACQUIRING_COUNTRY_CODE', 'Ecommerce Data'],
 ['ACQUIRING_COUNTRY_CODE', 'Expiry Date'],
 ['ACQUIRING_COUNTRY_CODE', 'Interface ID'],
 ['ACQUIRING_COUNTRY_CODE', 'MERCHANT NAME AND ADDRESS'],
 ['ACQUIRING_COUNTRY_CODE', 'MID'],
 ['ACQUIRING_COUNTRY_CODE', 'Merchant Category Code'],
 ['ACQUIRING_COUNTRY_CODE', 'POS entry Mode'],
 ['ACQUIRING_COUNTRY_CODE', 'POS_DATA'],
 ['ACQUIRING_COUNTRY_CODE', 'PROCESSING_CODE'],
 ['ACQUIRING_COUNTRY_CODE', 'Private Data - Additional Info'],
 ['ACQUIRING_COUNTRY_CODE', 'Private Data 48'],
 ['ACQUIRING_COUNTRY_CODE', 'Remaining Balance'],
 ['ACQUIRING_COUNTRY_CODE', 'SETTLEMENT_CURRENCY'],
 ['ACQUIRING_COUNTRY_CODE', 'TARGET'],
 ['ACQUIRING_COUNTRY_CODE', 'TID'],
 ['ACQUIRING_COUNTRY_CODE', 'TRANSACTION_CURRENCY'],
 ['ACQUIRING_COUNTRY_CODE', 'Terminal Type'],
 ['ACQUIRING_COUNTRY_CODE', 'Token Data'],
 ['ACQUIRING_COUNTRY_CODE', 'Token Data-C1'],
 ['ACQUIRING_COUNTRY_CODE', 'Transaction Category Code'],
 ['ACQUIRING_COUNTRY_CODE', 'Transaction Date and Time'],
 ['Additional Payment Info', 'Approval Decision'],
 ['Additional Payment Info', 'Authorization Code'],
 ['Additional Payment Info', 'BILLING_CURRENCY'],
 ['Additional Payment Info', 'CONVERSION_RATE'],
 ['Additional Payment Info', 'CONVERSION_RATE_DATE'],
 ['Additional Payment Info', 'Card Service Code'],
 ['Additional Payment Info', 'Card-Wallet-Token ID'],
 ['Additional Payment Info', 'DE48 Data Length'],
 ['Additional Payment Info', 'ECI Indicator'],
 ['Additional Payment Info', 'Ecommerce Data'],
 ['Additional Payment Info', 'Expiry Date'],
 ['Additional Payment Info', 'Interface ID'],
 ['Additional Payment Info', 'MERCHANT NAME AND ADDRESS'],
 ['Additional Payment Info', 'MID'],
 ['Additional Payment Info', 'Merchant Category Code'],
 ['Additional Payment Info', 'POS entry Mode'],
 ['Additional Payment Info', 'POS_DATA'],
 ['Additional Payment Info', 'PROCESSING_CODE'],
 ['Additional Payment Info', 'Private Data - Additional Info'],
 ['Additional Payment Info', 'Private Data 48'],
 ['Additional Payment Info', 'Remaining Balance'],
 ['Additional Payment Info', 'SETTLEMENT_CURRENCY'],
 ['Additional Payment Info', 'TARGET'],
 ['Additional Payment Info', 'TID'],
 ['Additional Payment Info', 'TRANSACTION_CURRENCY'],
 ['Additional Payment Info', 'Terminal Type'],
 ['Additional Payment Info', 'Token Data'],
 ['Additional Payment Info', 'Token Data-C1'],
 ['Additional Payment Info', 'Transaction Category Code'],
 ['Additional Payment Info', 'Transaction Date and Time'],
 ['Approval Decision', 'Authorization Code'],
 ['Approval Decision', 'BILLING_CURRENCY'],
 ['Approval Decision', 'CONVERSION_RATE'],
 ['Approval Decision', 'CONVERSION_RATE_DATE'],
 ['Approval Decision', 'Card Service Code'],
 ['Approval Decision', 'Card-Wallet-Token ID'],
 ['Approval Decision', 'DE48 Data Length'],
 ['Approval Decision', 'ECI Indicator'],
 ['Approval Decision', 'Ecommerce Data'],
 ['Approval Decision', 'Expiry Date'],
 ['Approval Decision', 'Interface ID'],
 ['Approval Decision', 'MERCHANT NAME AND ADDRESS'],
 ['Approval Decision', 'MID'],
 ['Approval Decision', 'Merchant Category Code'],
 ['Approval Decision', 'POS entry Mode'],
 ['Approval Decision', 'POS_DATA'],
 ['Approval Decision', 'PROCESSING_CODE'],
 ['Approval Decision', 'Private Data - Additional Info'],
 ['Approval Decision', 'Private Data 48'],
 ['Approval Decision', 'Remaining Balance'],
 ['Approval Decision', 'SETTLEMENT_CURRENCY'],
 ['Approval Decision', 'TARGET'],
 ['Approval Decision', 'TID'],
 ['Approval Decision', 'TRANSACTION_CURRENCY'],
 ['Approval Decision', 'Terminal Type'],
 ['Approval Decision', 'Token Data'],
 ['Approval Decision', 'Token Data-C1'],
 ['Approval Decision', 'Transaction Category Code'],
 ['Approval Decision', 'Transaction Date and Time'],
 ['Authorization Code', 'BILLING_CURRENCY'],
 ['Authorization Code', 'CONVERSION_RATE'],
 ['Authorization Code', 'CONVERSION_RATE_DATE'],
 ['Authorization Code', 'Card Service Code'],
 ['Authorization Code', 'Card-Wallet-Token ID'],
 ['Authorization Code', 'DE48 Data Length'],
 ['Authorization Code', 'ECI Indicator'],
 ['Authorization Code', 'Ecommerce Data'],
 ['Authorization Code', 'Expiry Date'],
 ['Authorization Code', 'Interface ID'],
 ['Authorization Code', 'MERCHANT NAME AND ADDRESS'],
 ['Authorization Code', 'MID'],
 ['Authorization Code', 'Merchant Category Code'],
 ['Authorization Code', 'POS entry Mode'],
 ['Authorization Code', 'POS_DATA'],
 ['Authorization Code', 'PROCESSING_CODE'],
 ['Authorization Code', 'Private Data - Additional Info'],
 ['Authorization Code', 'Private Data 48'],
 ['Authorization Code', 'Remaining Balance'],
 ['Authorization Code', 'SETTLEMENT_CURRENCY'],
 ['Authorization Code', 'TARGET'],
 ['Authorization Code', 'TID'],
 ['Authorization Code', 'TRANSACTION_CURRENCY'],
 ['Authorization Code', 'Terminal Type'],
 ['Authorization Code', 'Token Data'],
 ['Authorization Code', 'Token Data-C1'],
 ['Authorization Code', 'Transaction Category Code'],
 ['Authorization Code', 'Transaction Date and Time'],
 ['BILLING_CURRENCY', 'CONVERSION_RATE'],
 ['BILLING_CURRENCY', 'CONVERSION_RATE_DATE'],
 ['BILLING_CURRENCY', 'Card Service Code'],
 ['BILLING_CURRENCY', 'Card-Wallet-Token ID'],
 ['BILLING_CURRENCY', 'DE48 Data Length'],
 ['BILLING_CURRENCY', 'ECI Indicator'],
 ['BILLING_CURRENCY', 'Ecommerce Data'],
 ['BILLING_CURRENCY', 'Expiry Date'],
 ['BILLING_CURRENCY', 'Interface ID'],
 ['BILLING_CURRENCY', 'MERCHANT NAME AND ADDRESS'],
 ['BILLING_CURRENCY', 'MID'],
 ['BILLING_CURRENCY', 'Merchant Category Code'],
 ['BILLING_CURRENCY', 'POS entry Mode'],
 ['BILLING_CURRENCY', 'POS_DATA'],
 ['BILLING_CURRENCY', 'PROCESSING_CODE'],
 ['BILLING_CURRENCY', 'Private Data - Additional Info'],
 ['BILLING_CURRENCY', 'Private Data 48'],
 ['BILLING_CURRENCY', 'Remaining Balance'],
 ['BILLING_CURRENCY', 'SETTLEMENT_CURRENCY'],
 ['BILLING_CURRENCY', 'TARGET'],
 ['BILLING_CURRENCY', 'TID'],
 ['BILLING_CURRENCY', 'TRANSACTION_CURRENCY'],
 ['BILLING_CURRENCY', 'Terminal Type'],
 ['BILLING_CURRENCY', 'Token Data'],
 ['BILLING_CURRENCY', 'Token Data-C1'],
 ['BILLING_CURRENCY', 'Transaction Category Code'],
 ['BILLING_CURRENCY', 'Transaction Date and Time'],
 ['CONVERSION_RATE', 'CONVERSION_RATE_DATE'],
 ['CONVERSION_RATE', 'Card Service Code'],
 ['CONVERSION_RATE', 'Card-Wallet-Token ID'],
 ['CONVERSION_RATE', 'DE48 Data Length'],
 ['CONVERSION_RATE', 'ECI Indicator'],
 ['CONVERSION_RATE', 'Ecommerce Data'],
 ['CONVERSION_RATE', 'Expiry Date'],
 ['CONVERSION_RATE', 'Interface ID'],
 ['CONVERSION_RATE', 'MERCHANT NAME AND ADDRESS'],
 ['CONVERSION_RATE', 'MID'],
 ['CONVERSION_RATE', 'Merchant Category Code'],
 ['CONVERSION_RATE', 'POS entry Mode'],
 ['CONVERSION_RATE', 'POS_DATA'],
 ['CONVERSION_RATE', 'PROCESSING_CODE'],
 ['CONVERSION_RATE', 'Private Data - Additional Info'],
 ['CONVERSION_RATE', 'Private Data 48'],
 ['CONVERSION_RATE', 'Remaining Balance'],
 ['CONVERSION_RATE', 'SETTLEMENT_CURRENCY'],
 ['CONVERSION_RATE', 'TARGET'],
 ['CONVERSION_RATE', 'TID'],
 ['CONVERSION_RATE', 'TRANSACTION_CURRENCY'],
 ['CONVERSION_RATE', 'Terminal Type'],
 ['CONVERSION_RATE', 'Token Data'],
 ['CONVERSION_RATE', 'Token Data-C1'],
 ['CONVERSION_RATE', 'Transaction Category Code'],
 ['CONVERSION_RATE', 'Transaction Date and Time'],
 ['CONVERSION_RATE_DATE', 'Card Service Code'],
 ['CONVERSION_RATE_DATE', 'Card-Wallet-Token ID'],
 ['CONVERSION_RATE_DATE', 'DE48 Data Length'],
 ['CONVERSION_RATE_DATE', 'ECI Indicator'],
 ['CONVERSION_RATE_DATE', 'Ecommerce Data'],
 ['CONVERSION_RATE_DATE', 'Expiry Date'],
 ['CONVERSION_RATE_DATE', 'Interface ID'],
 ['CONVERSION_RATE_DATE', 'MERCHANT NAME AND ADDRESS'],
 ['CONVERSION_RATE_DATE', 'MID'],
 ['CONVERSION_RATE_DATE', 'Merchant Category Code'],
 ['CONVERSION_RATE_DATE', 'POS entry Mode'],
 ['CONVERSION_RATE_DATE', 'POS_DATA'],
 ['CONVERSION_RATE_DATE', 'PROCESSING_CODE'],
 ['CONVERSION_RATE_DATE', 'Private Data - Additional Info'],
 ['CONVERSION_RATE_DATE', 'Private Data 48'],
 ['CONVERSION_RATE_DATE', 'Remaining Balance'],
 ['CONVERSION_RATE_DATE', 'SETTLEMENT_CURRENCY'],
 ['CONVERSION_RATE_DATE', 'TARGET'],
 ['CONVERSION_RATE_DATE', 'TID'],
 ['CONVERSION_RATE_DATE', 'TRANSACTION_CURRENCY'],
 ['CONVERSION_RATE_DATE', 'Terminal Type'],
 ['CONVERSION_RATE_DATE', 'Token Data'],
 ['CONVERSION_RATE_DATE', 'Token Data-C1'],
 ['CONVERSION_RATE_DATE', 'Transaction Category Code'],
 ['CONVERSION_RATE_DATE', 'Transaction Date and Time'],
 ['Card Service Code', 'Card-Wallet-Token ID'],
 ['Card Service Code', 'DE48 Data Length'],
 ['Card Service Code', 'ECI Indicator'],
 ['Card Service Code', 'Ecommerce Data'],
 ['Card Service Code', 'Expiry Date'],
 ['Card Service Code', 'Interface ID'],
 ['Card Service Code', 'MERCHANT NAME AND ADDRESS'],
 ['Card Service Code', 'MID'],
 ['Card Service Code', 'Merchant Category Code'],
 ['Card Service Code', 'POS entry Mode'],
 ['Card Service Code', 'POS_DATA'],
 ['Card Service Code', 'PROCESSING_CODE'],
 ['Card Service Code', 'Private Data - Additional Info'],
 ['Card Service Code', 'Private Data 48'],
 ['Card Service Code', 'Remaining Balance'],
 ['Card Service Code', 'SETTLEMENT_CURRENCY'],
 ['Card Service Code', 'TARGET'],
 ['Card Service Code', 'TID'],
 ['Card Service Code', 'TRANSACTION_CURRENCY'],
 ['Card Service Code', 'Terminal Type'],
 ['Card Service Code', 'Token Data'],
 ['Card Service Code', 'Token Data-C1'],
 ['Card Service Code', 'Transaction Category Code'],
 ['Card Service Code', 'Transaction Date and Time'],
 ['Card-Wallet-Token ID', 'DE48 Data Length'],
 ['Card-Wallet-Token ID', 'ECI Indicator'],
 ['Card-Wallet-Token ID', 'Ecommerce Data'],
 ['Card-Wallet-Token ID', 'Expiry Date'],
 ['Card-Wallet-Token ID', 'Interface ID'],
 ['Card-Wallet-Token ID', 'MERCHANT NAME AND ADDRESS'],
 ['Card-Wallet-Token ID', 'MID'],
 ['Card-Wallet-Token ID', 'Merchant Category Code'],
 ['Card-Wallet-Token ID', 'POS entry Mode'],
 ['Card-Wallet-Token ID', 'POS_DATA'],
 ['Card-Wallet-Token ID', 'PROCESSING_CODE'],
 ['Card-Wallet-Token ID', 'Private Data - Additional Info'],
 ['Card-Wallet-Token ID', 'Private Data 48'],
 ['Card-Wallet-Token ID', 'Remaining Balance'],
 ['Card-Wallet-Token ID', 'SETTLEMENT_CURRENCY'],
 ['Card-Wallet-Token ID', 'TARGET'],
 ['Card-Wallet-Token ID', 'TID'],
 ['Card-Wallet-Token ID', 'TRANSACTION_CURRENCY'],
 ['Card-Wallet-Token ID', 'Terminal Type'],
 ['Card-Wallet-Token ID', 'Token Data'],
 ['Card-Wallet-Token ID', 'Token Data-C1'],
 ['Card-Wallet-Token ID', 'Transaction Category Code'],
 ['Card-Wallet-Token ID', 'Transaction Date and Time'],
 ['DE48 Data Length', 'ECI Indicator'],
 ['DE48 Data Length', 'Ecommerce Data'],
 ['DE48 Data Length', 'Expiry Date'],
 ['DE48 Data Length', 'Interface ID'],
 ['DE48 Data Length', 'MERCHANT NAME AND ADDRESS'],
 ['DE48 Data Length', 'MID'],
 ['DE48 Data Length', 'Merchant Category Code'],
 ['DE48 Data Length', 'POS entry Mode'],
 ['DE48 Data Length', 'POS_DATA'],
 ['DE48 Data Length', 'PROCESSING_CODE'],
 ['DE48 Data Length', 'Private Data - Additional Info'],
 ['DE48 Data Length', 'Private Data 48'],
 ['DE48 Data Length', 'Remaining Balance'],
 ['DE48 Data Length', 'SETTLEMENT_CURRENCY'],
 ['DE48 Data Length', 'TARGET'],
 ['DE48 Data Length', 'TID'],
 ['DE48 Data Length', 'TRANSACTION_CURRENCY'],
 ['DE48 Data Length', 'Terminal Type'],
 ['DE48 Data Length', 'Token Data'],
 ['DE48 Data Length', 'Token Data-C1'],
 ['DE48 Data Length', 'Transaction Category Code'],
 ['DE48 Data Length', 'Transaction Date and Time'],
 ['ECI Indicator', 'Ecommerce Data'],
 ['ECI Indicator', 'Expiry Date'],
 ['ECI Indicator', 'Interface ID'],
 ['ECI Indicator', 'MERCHANT NAME AND ADDRESS'],
 ['ECI Indicator', 'MID'],
 ['ECI Indicator', 'Merchant Category Code'],
 ['ECI Indicator', 'POS entry Mode'],
 ['ECI Indicator', 'POS_DATA'],
 ['ECI Indicator', 'PROCESSING_CODE'],
 ['ECI Indicator', 'Private Data - Additional Info'],
 ['ECI Indicator', 'Private Data 48'],
 ['ECI Indicator', 'Remaining Balance'],
 ['ECI Indicator', 'SETTLEMENT_CURRENCY'],
 ['ECI Indicator', 'TARGET'],
 ['ECI Indicator', 'TID'],
 ['ECI Indicator', 'TRANSACTION_CURRENCY'],
 ['ECI Indicator', 'Terminal Type'],
 ['ECI Indicator', 'Token Data'],
 ['ECI Indicator', 'Token Data-C1'],
 ['ECI Indicator', 'Transaction Category Code'],
 ['ECI Indicator', 'Transaction Date and Time'],
 ['Ecommerce Data', 'Expiry Date'],
 ['Ecommerce Data', 'Interface ID'],
 ['Ecommerce Data', 'MERCHANT NAME AND ADDRESS'],
 ['Ecommerce Data', 'MID'],
 ['Ecommerce Data', 'Merchant Category Code'],
 ['Ecommerce Data', 'POS entry Mode'],
 ['Ecommerce Data', 'POS_DATA'],
 ['Ecommerce Data', 'PROCESSING_CODE'],
 ['Ecommerce Data', 'Private Data - Additional Info'],
 ['Ecommerce Data', 'Private Data 48'],
 ['Ecommerce Data', 'Remaining Balance'],
 ['Ecommerce Data', 'SETTLEMENT_CURRENCY'],
 ['Ecommerce Data', 'TARGET'],
 ['Ecommerce Data', 'TID'],
 ['Ecommerce Data', 'TRANSACTION_CURRENCY'],
 ['Ecommerce Data', 'Terminal Type'],
 ['Ecommerce Data', 'Token Data'],
 ['Ecommerce Data', 'Token Data-C1'],
 ['Ecommerce Data', 'Transaction Category Code'],
 ['Ecommerce Data', 'Transaction Date and Time'],
 ['Expiry Date', 'Interface ID'],
 ['Expiry Date', 'MERCHANT NAME AND ADDRESS'],
 ['Expiry Date', 'MID'],
 ['Expiry Date', 'Merchant Category Code'],
 ['Expiry Date', 'POS entry Mode'],
 ['Expiry Date', 'POS_DATA'],
 ['Expiry Date', 'PROCESSING_CODE'],
 ['Expiry Date', 'Private Data - Additional Info'],
 ['Expiry Date', 'Private Data 48'],
 ['Expiry Date', 'Remaining Balance'],
 ['Expiry Date', 'SETTLEMENT_CURRENCY'],
 ['Expiry Date', 'TARGET'],
 ['Expiry Date', 'TID'],
 ['Expiry Date', 'TRANSACTION_CURRENCY'],
 ['Expiry Date', 'Terminal Type'],
 ['Expiry Date', 'Token Data'],
 ['Expiry Date', 'Token Data-C1'],
 ['Expiry Date', 'Transaction Category Code'],
 ['Expiry Date', 'Transaction Date and Time'],
 ['Interface ID', 'MERCHANT NAME AND ADDRESS'],
 ['Interface ID', 'MID'],
 ['Interface ID', 'Merchant Category Code'],
 ['Interface ID', 'POS entry Mode'],
 ['Interface ID', 'POS_DATA'],
 ['Interface ID', 'PROCESSING_CODE'],
 ['Interface ID', 'Private Data - Additional Info'],
 ['Interface ID', 'Private Data 48'],
 ['Interface ID', 'Remaining Balance'],
 ['Interface ID', 'SETTLEMENT_CURRENCY'],
 ['Interface ID', 'TARGET'],
 ['Interface ID', 'TID'],
 ['Interface ID', 'TRANSACTION_CURRENCY'],
 ['Interface ID', 'Terminal Type'],
 ['Interface ID', 'Token Data'],
 ['Interface ID', 'Token Data-C1'],
 ['Interface ID', 'Transaction Category Code'],
 ['Interface ID', 'Transaction Date and Time'],
 ['MERCHANT NAME AND ADDRESS', 'MID'],
 ['MERCHANT NAME AND ADDRESS', 'Merchant Category Code'],
 ['MERCHANT NAME AND ADDRESS', 'POS entry Mode'],
 ['MERCHANT NAME AND ADDRESS', 'POS_DATA'],
 ['MERCHANT NAME AND ADDRESS', 'PROCESSING_CODE'],
 ['MERCHANT NAME AND ADDRESS', 'Private Data - Additional Info'],
 ['MERCHANT NAME AND ADDRESS', 'Private Data 48'],
 ['MERCHANT NAME AND ADDRESS', 'Remaining Balance'],
 ['MERCHANT NAME AND ADDRESS', 'SETTLEMENT_CURRENCY'],
 ['MERCHANT NAME AND ADDRESS', 'TARGET'],
 ['MERCHANT NAME AND ADDRESS', 'TID'],
 ['MERCHANT NAME AND ADDRESS', 'TRANSACTION_CURRENCY'],
 ['MERCHANT NAME AND ADDRESS', 'Terminal Type'],
 ['MERCHANT NAME AND ADDRESS', 'Token Data'],
 ['MERCHANT NAME AND ADDRESS', 'Token Data-C1'],
 ['MERCHANT NAME AND ADDRESS', 'Transaction Category Code'],
 ['MERCHANT NAME AND ADDRESS', 'Transaction Date and Time'],
 ['MID', 'Merchant Category Code'],
 ['MID', 'POS entry Mode'],
 ['MID', 'POS_DATA'],
 ['MID', 'PROCESSING_CODE'],
 ['MID', 'Private Data - Additional Info'],
 ['MID', 'Private Data 48'],
 ['MID', 'Remaining Balance'],
 ['MID', 'SETTLEMENT_CURRENCY'],
 ['MID', 'TARGET'],
 ['MID', 'TID'],
 ['MID', 'TRANSACTION_CURRENCY'],
 ['MID', 'Terminal Type'],
 ['MID', 'Token Data'],
 ['MID', 'Token Data-C1'],
 ['MID', 'Transaction Category Code'],
 ['MID', 'Transaction Date and Time'],
 ['Merchant Category Code', 'POS entry Mode'],
 ['Merchant Category Code', 'POS_DATA'],
 ['Merchant Category Code', 'PROCESSING_CODE'],
 ['Merchant Category Code', 'Private Data - Additional Info'],
 ['Merchant Category Code', 'Private Data 48'],
 ['Merchant Category Code', 'Remaining Balance'],
 ['Merchant Category Code', 'SETTLEMENT_CURRENCY'],
 ['Merchant Category Code', 'TARGET'],
 ['Merchant Category Code', 'TID'],
 ['Merchant Category Code', 'TRANSACTION_CURRENCY'],
 ['Merchant Category Code', 'Terminal Type'],
 ['Merchant Category Code', 'Token Data'],
 ['Merchant Category Code', 'Token Data-C1'],
 ['Merchant Category Code', 'Transaction Category Code'],
 ['Merchant Category Code', 'Transaction Date and Time'],
 ['POS entry Mode', 'POS_DATA'],
 ['POS entry Mode', 'PROCESSING_CODE'],
 ['POS entry Mode', 'Private Data - Additional Info'],
 ['POS entry Mode', 'Private Data 48'],
 ['POS entry Mode', 'Remaining Balance'],
 ['POS entry Mode', 'SETTLEMENT_CURRENCY'],
 ['POS entry Mode', 'TARGET'],
 ['POS entry Mode', 'TID'],
 ['POS entry Mode', 'TRANSACTION_CURRENCY'],
 ['POS entry Mode', 'Terminal Type'],
 ['POS entry Mode', 'Token Data'],
 ['POS entry Mode', 'Token Data-C1'],
 ['POS entry Mode', 'Transaction Category Code'],
 ['POS entry Mode', 'Transaction Date and Time'],
 ['POS_DATA', 'PROCESSING_CODE'],
 ['POS_DATA', 'Private Data - Additional Info'],
 ['POS_DATA', 'Private Data 48'],
 ['POS_DATA', 'Remaining Balance'],
 ['POS_DATA', 'SETTLEMENT_CURRENCY'],
 ['POS_DATA', 'TARGET'],
 ['POS_DATA', 'TID'],
 ['POS_DATA', 'TRANSACTION_CURRENCY'],
 ['POS_DATA', 'Terminal Type'],
 ['POS_DATA', 'Token Data'],
 ['POS_DATA', 'Token Data-C1'],
 ['POS_DATA', 'Transaction Category Code'],
 ['POS_DATA', 'Transaction Date and Time'],
 ['PROCESSING_CODE', 'Private Data - Additional Info'],
 ['PROCESSING_CODE', 'Private Data 48'],
 ['PROCESSING_CODE', 'Remaining Balance'],
 ['PROCESSING_CODE', 'SETTLEMENT_CURRENCY'],
 ['PROCESSING_CODE', 'TARGET'],

In [0]:
related_df = pd.DataFrame(columns = ['Categorical_1','Categorical_2', 'pvalue'])
Categorical_1 = []
Categorical_2 = []
for i in range(0,len(related)):
  Categorical_1.append(related[i][0])
  Categorical_2.append(related[i][1])
related_df['Categorical_1'] = Categorical_1
related_df['Categorical_2'] = Categorical_2
related_df['pvalue'] = pvalue

In [137]:
related_df.head()

               Categorical_1            Categorical_2  pvalue
0  ACQUIRER_INSTITUTION_CODE   ACQUIRING_COUNTRY_CODE     1.0
1  ACQUIRER_INSTITUTION_CODE  Additional Payment Info     1.0
2  ACQUIRER_INSTITUTION_CODE        Approval Decision     1.0
3  ACQUIRER_INSTITUTION_CODE       Authorization Code     1.0
4  ACQUIRER_INSTITUTION_CODE         BILLING_CURRENCY     1.0

In [139]:
related_df[related_df['pvalue']<1]

                      Categorical_1                   Categorical_2    pvalue
67          Additional Payment Info            CONVERSION_RATE_DATE  0.592548
70          Additional Payment Info                DE48 Data Length  0.592548
71          Additional Payment Info                   ECI Indicator  0.999515
72          Additional Payment Info                  Ecommerce Data  0.999879
81          Additional Payment Info  Private Data - Additional Info  0.628837
82          Additional Payment Info                 Private Data 48  0.592548
85          Additional Payment Info                          TARGET  0.697350
89          Additional Payment Info                      Token Data  0.815516
91          Additional Payment Info       Transaction Category Code  0.932397
205            CONVERSION_RATE_DATE                DE48 Data Length  0.999412
206            CONVERSION_RATE_DATE                   ECI Indicator  1.000000
207            CONVERSION_RATE_DATE                  Ecommerce Data  1.000000
216            CONVERSION_RATE_DATE  Private Data - Additional Info  0.999918
217            CONVERSION_RATE_DATE                 Private Data 48  0.999412
220            CONVERSION_RATE_DATE                          TARGET  0.919791
224            CONVERSION_RATE_DATE                      Token Data  0.919791
226            CONVERSION_RATE_DATE       Transaction Category Code  0.999999
275                DE48 Data Length                   ECI Indicator  0.997689
276                DE48 Data Length                  Ecommerce Data  1.000000
285                DE48 Data Length  Private Data - Additional Info  0.615961
286                DE48 Data Length                 Private Data 48  0.615961
289                DE48 Data Length                          TARGET  0.785444
293                DE48 Data Length                      Token Data  0.717124
295                DE48 Data Length       Transaction Category Code  0.264322
297                   ECI Indicator                  Ecommerce Data  0.587409
306                   ECI Indicator  Private Data - Additional Info  0.994231
307                   ECI Indicator                 Private Data 48  0.717124
310                   ECI Indicator                          TARGET  0.689305
314                   ECI Indicator                      Token Data  0.717124
316                   ECI Indicator       Transaction Category Code  0.983148
326                  Ecommerce Data  Private Data - Additional Info  0.991078
327                  Ecommerce Data                 Private Data 48  0.975790
330                  Ecommerce Data                          TARGET  0.697350
334                  Ecommerce Data                      Token Data  0.743694
336                  Ecommerce Data       Transaction Category Code  0.996712
462  Private Data - Additional Info                 Private Data 48  0.598714
465  Private Data - Additional Info                          TARGET  0.744395
469  Private Data - Additional Info                      Token Data  0.697350
471  Private Data - Additional Info       Transaction Category Code  0.816685
475                 Private Data 48                          TARGET  0.689305
479                 Private Data 48                      Token Data  0.744395
481                 Private Data 48       Transaction Category Code  0.583041
495             SETTLEMENT_CURRENCY                   Terminal Type  0.550948
503                          TARGET                      Token Data  0.919791
505                          TARGET       Transaction Category Code  1.000000
523                      Token Data       Transaction Category Code  0.999990

##### So this method shows that none of the pairs of columns are dependent on each other.

### **Clustering using KMapper, pick clusters with more fraud data, using dataframe encoded**

In [0]:
encoded.to_csv('all_teams_data_ready_for_clustering.csv')
!cp all_teams_data_ready_for_clustering.csv /gdrive/My\ Drive/all_teams_data_ready_for_clustering.csv

In [143]:
mapper_data = pd.read_csv('/gdrive/My Drive/all_teams_data_ready_for_clustering.csv')
mapper_data.shape

(996861, 34)

In [0]:
l=[]
for i  in np.arange(1,len(mapper_data),1):
  l.append(list(mapper_data.iloc[i,:]))
l=np.array(l)

In [146]:
l

array([[     1,      1,      0, ...,      0,      0,      0],
       [     2,      1,      0, ...,      0,      0,      0],
       [     3,      2,      0, ...,      0,      0,      0],
       ...,
       [996858,  30858,     11, ...,      0,      0,      0],
       [996859,  30858,     11, ...,      0,      0,      0],
       [996860,  30858,     11, ...,      0,      0,      0]])

##### **Trials for the right parameters for clustering**

##### Here there are parameters like **nr_cubes**, inside DBScan algorithm,**eps**, **leaf_size**, **min_samples**, **metric** which are specific to problem which we try to optimize by trial. For many combinations of these parameters that are unsuitable for the dataset, the clustering would not work.

https://scikit-learn.org/stable/modules/generated/sklearn.cluster.dbscan.html

##### Look at the above link for details about arguments of DBScan

In [159]:
# Initialize
mapper = km.KeplerMapper(verbose=1)

start = time.time()

choice_indices = np.random.choice(len(l), 100000, replace=False)
new_l = [l[i] for i in choice_indices] ## We randomly select 100000 rows out of 900000 to reduce complexity
new_l = np.array(new_l)
# Fit to and transform the data
projected_data = mapper.fit_transform(new_l, projection=[0,1]) # X-Y axis

# Create dictionary called 'graph' with nodes, edges and meta-information
graph = mapper.map(projected_data, new_l, nr_cubes=10, overlap_perc = 0.1 ,clusterer = DBSCAN(algorithm ='auto',eps = 2000, leaf_size = 2000, metric='euclidean',
    metric_params=None, min_samples=200, n_jobs=-1, p=None))

# Visualize it
html=mapper.visualize(graph, path_html="all_teams_data_clustering_output.html",
                 title="all_teams_data(eps = 100, min_samples  = 10, overlap_perc = 0.1)")
end = time.time()
print("Time taken to do clustering is : {}".format(end-start))

KeplerMapper()
..Composing projection pipeline of length 1:
	Projections: [0, 1]
	Distance matrices: False
	Scalers: MinMaxScaler(copy=True, feature_range=(0, 1))
..Projecting on data shaped (100000, 34)

..Projecting data using: [0, 1]

..Scaling with: MinMaxScaler(copy=True, feature_range=(0, 1))

Mapping on data shaped (100000, 34) using lens shaped (100000, 2)

Creating 100 hypercubes.

Created 9 edges and 10 nodes in 0:00:15.402597.
Wrote visualization to: all_teams_data_clustering_output.html
Time taken to do clustering is : 15.674800872802734

The combination of eps, leafsize, min_samples that did not work(took too long to run) are:
 > 10, 500, 10

 > 10, 2000, 10

 > 2000, 2000, 10

##### These set of parameters do not help much giving rise to a huge number of clusters with low membership which makes it difficult to identify characteristics of clusters. There are a few edges for overlapping clusters but there those are less and not much connected, not helping significantly in inference.

##### The final set of parameters used gives one long chain with more or less uniform membership in each chain.

In [160]:
# Initialize
mapper = km.KeplerMapper(verbose=1)

start = time.time()

choice_indices = np.random.choice(len(l), 100000, replace=False)
new_l = [l[i] for i in choice_indices] ## We randomly select 100000 rows out of 900000 to reduce complexity
new_l = np.array(new_l)

# Fit to and transform the data
projected_data = mapper.fit_transform(new_l, projection=[0,1]) # X-Y axis

# Create dictionary called 'graph' with nodes, edges and meta-information
graph = mapper.map(projected_data, new_l, nr_cubes=10, overlap_perc = 0.4 ,clusterer = DBSCAN(algorithm ='auto',eps = 1000, leaf_size = 2000, metric='euclidean',
    metric_params=None, min_samples=200, n_jobs=-1, p=None))

# Visualize it
html=mapper.visualize(graph, path_html="all_teams_clustering_output2.html",
                 title="all_txns(eps = 1000 , min_samples  = 200, overlap_perc = 0.4)")
end = time.time()
print("Time taken to do clustering is : {}".format(end-start))

KeplerMapper()
..Composing projection pipeline of length 1:
	Projections: [0, 1]
	Distance matrices: False
	Scalers: MinMaxScaler(copy=True, feature_range=(0, 1))
..Projecting on data shaped (100000, 34)

..Projecting data using: [0, 1]

..Scaling with: MinMaxScaler(copy=True, feature_range=(0, 1))

Mapping on data shaped (100000, 34) using lens shaped (100000, 2)

Creating 100 hypercubes.

Created 93 edges and 224 nodes in 0:00:19.627704.
Wrote visualization to: all_teams_clustering_output2.html
Time taken to do clustering is : 20.43278431892395

##### For this we can see a bunch of nodes with comparatively few edges. We cannot infer much from this data, also we discover nothing significant from this shape thus telling us that we were previously closer to optimal parameters.

##### **Trying out a new projection function and clustering algorithm**

In [161]:
model = ensemble.IsolationForest(random_state=1729)
choice_indices = np.random.choice(len(l), 100000, replace=False)
new_l = [l[i] for i in choice_indices] ## We randomly select 100000 rows out of 900000 to reduce complexity
new_l = np.array(new_l)

model.fit(new_l)
lens1 = model.decision_function(new_l).reshape((new_l.shape[0], 1))

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/iforest.py:237: FutureWarning: default contamination parameter 0.1 will change in version 0.22 to "auto". This will change the predict method behavior.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/iforest.py:247: FutureWarning: behaviour="old" is deprecated and will be removed in version 0.22. Please use behaviour="new", which makes the decision_function change to match other anomaly detection algorithm API.
  FutureWarning)

In [162]:
start = time.time()
lens2 = mapper.fit_transform(new_l, projection="l2norm")
lens = np.c_[lens1, lens2]

graph2 = mapper.map(lens,
                      new_l,
                      nr_cubes=10,
                      overlap_perc=0.4,
                      clusterer=sklearn.cluster.KMeans(n_clusters=10,
                                                       random_state=3471))

html2=mapper.visualize(graph2, path_html="all_teams_clustering_KMeans.html",
                 title="all_teams(n_clusters = 10, overlap_perc = 0.4)")
end = time.time()
print("Time taken to do clustering is : {}".format(end-start))

..Composing projection pipeline of length 1:
	Projections: l2norm
	Distance matrices: False
	Scalers: MinMaxScaler(copy=True, feature_range=(0, 1))
..Projecting on data shaped (100000, 34)

..Projecting data using: l2norm

..Scaling with: MinMaxScaler(copy=True, feature_range=(0, 1))

Mapping on data shaped (100000, 34) using lens shaped (100000, 2)

Creating 100 hypercubes.

Created 681 edges and 320 nodes in 0:00:29.630138.
Wrote visualization to: all_teams_clustering_KMeans.html
Time taken to do clustering is : 30.63549518585205

##### This set of parameters gives rise to many nodes and edges, but we can see an interesting pattern of chains and branchings that can be study for its properties later on. The reason for such high number of nodes could be since we used the l2 norms which are mostly distinct. What is interesting is that there are some points which are isolated which can be useful in our case to study seperately.

In [163]:
# model = ensemble.IsolationForest(random_state=1729)
# model.fit(l)
# lens1 = model.decision_function(l).reshape((l.shape[0], 1))

#Since we wish to visualize we are forced to have number of components under PCA to 1
start = time.time()

choice_indices = np.random.choice(len(l), 100000, replace=False)
new_l = [l[i] for i in choice_indices] ## We randomly select 100000 rows out of 900000 to reduce complexity
new_l = np.array(new_l)

lens3 = mapper.fit_transform(new_l, projection=PCA(n_components=1))

lens13 = np.c_[lens1, lens3]

graph3 = mapper.map(lens13,
                      new_l,
                      nr_cubes=10,
                      overlap_perc=0.4,
                      clusterer=sklearn.cluster.KMeans(n_clusters=5,
                                                       random_state=3471))

html3=mapper.visualize(graph3, path_html="all_teams_clustering_KMeans2.html",
                 title="all_txns(n_clusters = 5, overlap_perc = 0.4, PCA_n_components = 1)")
end = time.time()
print("Time taken to do clustering is : {}".format(end-start))

..Composing projection pipeline of length 1:
	Projections: PCA(copy=True, iterated_power='auto', n_components=1, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)
	Distance matrices: False
	Scalers: MinMaxScaler(copy=True, feature_range=(0, 1))
..Projecting on data shaped (100000, 34)

..Projecting data using:
	PCA(copy=True, iterated_power='auto', n_components=1, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)


..Scaling with: MinMaxScaler(copy=True, feature_range=(0, 1))

Mapping on data shaped (100000, 34) using lens shaped (100000, 2)

Creating 100 hypercubes.

Created 1333 edges and 450 nodes in 0:00:20.546594.
Wrote visualization to: all_teams_clustering_KMeans2.html
Time taken to do clustering is : 22.511289596557617

##### This produces an even more interesting result than before. Here most of the nodes have edges between them and we can see a bunch of nodes at intervals in a web like mesh. It could help to study this to find grades of risk in transactions. There could be a natural ordering found from such partitioning.  Whether this projection combined with the clustering actual helps or not can only be judged by studying the variables within each nodes and cluster of nodes.

##### **Future Work**
> 1. Try out Goodman Kruskal's Gamma and Lambda for tests of association between categorical variables.

> 2. Try changing the projection and clustering algorithm to see if better results can be achieved, better results can only be judged based on labelled data.

##### **ROUGH**

In [16]:
data2['TARGET'].fillna('Not Fraud')
set(data2['TARGET'])

{'Fraud', nan}

In [30]:
set(data2['Private Data 48'])

{nan,
 'R1805000081502228002TV7280 *h   s',
 'F1805000081502888002SG7280B r|  R',
 '? %',
 'O810728022221805000081502228002TV7280     |',
 'R810728022221805000081502228002TV7280    #',
 'R810728027742202001805000081502228002TV7280 S',
 'R1805000081502228002TV7280  O|',
 'H1805000081502228002TV7280    rY ~',
 'R1805000081502228002TV7280Y',
 'R810728022221805000081502228002TV7280 7gZ@sO!',
 'R810728022221805000081502228002TV7280Y~  ?Z',
 'R810728022221805000081502228002TV7280. g{ ( 0',
 'F1805000001502228002SG7280  {',
 'R810728022221805000081502228002SG7280<htO^ A',
 '?  !',
 'H810728022221805000081502228002TV7280 l< <m@',
 'R810728022221805000081502228002TV7280 } 2',
 'H810728022221805000081502228002TV7280z    5N',
 'F810728022221805000081502228002SG7280 +G  0',
 'R1805080081502228002TV7280       ~',
 'R1805000081502228002TV7280>?',
 'F810728022221805000081502228002SG7280  )4b:',
 '?   85',
 'R810728022221805000081502228002TV7280 2O    E',
 'R1805000081502228002TV7280     / |',
 'R810728022221805000081502228002TV7280r  2',
 'R810728022221805000081502228002TV7280 " #  wP',
 'R810728022221805000081502228002TV7280     #',
 'R810728022221805000081502228002TV7280  m ,4',
 'R1805000081502228002TV7280  N   }h',
 'F810728022221805000081502228002SG7280   G0 d',
 'R1805000081502228002TV7280      |A',
 'R1805080081502228002TV7280 wYqJ',
 'R810728022221805000081502228002TV7280  :g',
 'R1805080081502228002SG7280P G F~',
 'R810728022221805000081502228002TV7280 K   4.',
 'F1805000081502228002SG7280   4*p p',
 'R810728022221805000081502228002TV7280   :',
 'F810728000481805000001502228002SG7280  1Q  O',
 'F1805000001502228002SG7280 z    m',
 'R810728027742202001805000081502228002TV7280      %',
 'H810728022221805000081502228002SG7280 buTe\\<}',
 'R810728022221805000081502228002TV7280hdn  #s',
 'R810728022221805000081502228002TV7280gi     z',
 'X810728022221805000081502228002SG7280t >K   e',
 'F810728022221805000081502228002SG7280    _  8',
 "R1805000088002TV7280V  '  7w",
 'R810728022221805000081502228002TV7280       \\',
 'R810728022221805000081502228002TV7280 +5 >4K%',
 'R810728022221805000081502228002TV7280  Q  >z',
 'R272408880000022754402858120700087200811805080081502228002TV7280   D',
 'F1805000087280  }G   I',
 'R1805000081502228002TV72802b   ~',
 "R1805080081502228002TV7280'  2)  O",
 'R1805000081502228002SG7280  c T-',
 'F810728022221805000081502228002SG7280   R   {',
 'F810728022221805000081502228002SG7280 4 ^   a',
 "R810728022221805000081502228002TV7280  'p",
 'R810728022221805000081502228002TV7280  a H  {',
 'F810728022221805000081502228002SG7280  cu?',
 'F810728022221805000081502228002SG7280 0 7',
 'R810728022221805000081502228002TV7280 W   D.',
 'R1805000081502228002TV72802 4~C yC',
 'R1805000081502228002TV7280  iO',
 'R1805000081502228002TV7280ae  ( j^',
 'F1805000001502228002SG7280  m|',
 'R1805000081502228002TV7280 w O~',
 'R1805000001502228002TV7280 x  7 Z',
 'F1805000001502228002SG7280  D 7 8U',
 'R810728022221805000081502228002TV7280 (NE $j',
 'R810728000481805000081502228002TV7280 5  ,',
 'F2724088800000228001028542MS000002405771805080081502228002SG7280    p |',
 'F810728022221805000081502228002SG7280^p  *',
 'R810728022221805000081502228002TV7280  2  { X',
 'R1805000081502228002TV7280   P',
 'R1805000081502228002TV7280 8P 5',
 'F810728022221805000081502228002SG7280  2GA k',
 'F1805000001502228002SG7280b    } ~',
 'R810728022221805000081502228002TV7280Q  \\  _',
 'R1805080081502228002TV7280 A',
 'R810728027742202001805000081502228002TV7280      _',
 'F810728022221805000081502228002SG7280 "KZ a',
 'F2724088800000228001028542MS000002887221805080081502228002SG7280ozf R /{',
 'R1805080081502228002TV7280  0',
 'F810728022221805000081502228002SG7280 &l   0d',
 'R2724088800000228001028542MS000008045481805080081502228002TV7280  E )',
 'R1805000081502888002TV7280   Sy R',
 'X810728022221805000081502228002SG7280t  } G',
 '?f}',
 'R1805000081502228002TV7280 ^|',
 'R810728022221805000081502228002TV7280P DD o',
 'R810728022221805000081502228002TV7280Q w',
 'R810728022221805000081502228002TV7280O      V',
 'R810728022221805000081502228002SG7280 t P B',
 '? ~',
 'F1805000081502228002SG7280d x  2@',
 'F810728022221805000081502228002SG7280 ^ BR  (',
 'O810728000481805000081502228002SG7280+rF   "',
 'R810728022221805000081502228002TV7280S)M  *',
 'R810728022221805000081502228002SG7280F  8.',
 'F1805080081502228002SG7280~ J - d}',
 "R810728022221805000081502228002TV7280   8W '",
 'H810728022221805000081502228002TV7280WkO =  "',
 'R1805000088002TV7280  "}"????',
 'R810728022221805000081502228002TV7280 b  4|',
 'F810728022221805000081502228002SG7280 =   u I',
 'F810728022221805000081502228002SG7280 Q    2A',
 'R810728022221805000081502228002TV7280 5{ac  ,',
 'R810728022221805000081502228002TV7280  GdI',
 'R1805080081502228002TV7280   h   e',
 'F1805000081502228002SG7280       "',
 'R1805000081502228002TV7280   |  4',
 'X810728022221805000081502228002SG7280 Tk x',
 'R1805000081502228002TV7280    2j(8',
 'R810728022221805000081502228002TV7280 z !',
 'R2724088800000228001028542MS000008741281805080081502228002TV7280L |   b2',
 'R1805000081502228002TV7280  u  #',
 'R810728022221805000081502228002TV7280 ;    Ex',
 'F1805000081502228002SG7280  Q7',
 'F1805000001502228002SG7280    D  J',
 'R1805080081502228002TV7280',
 'O810728022221805000081502228002TV7280 J} p',
 'O810728022221805000081502228002TV7280* R   "',
 'R810728022221805000081502228002TV7280. N @ |',
 'R1805080081502228002TV7280   GX +',
 'H810728022221805000081502228002TV7280    Km &????',
 'R860728022226805000086502228002TV7280  Y"????',
 'R1805000081502228002TV7280   z',
 'R1805080081502228002TV7280   %',
 'R810728022221805000081502228002SG7280vFp _ Q',
 'R810728022221805000081502228002TV7280j  /  $',
 'R1805000081502228002TV7280 :',
 'R2724088800000228001028542MS000002701811805080081502228002TV7280 S4  D',
 'R810728022221805000081502228002TV7280 K   <}^',
 'F1805000001502228002SG7280 q f R Q',
 'R810728022221805000081502228002TV7280vU  |',
 'R1805080081502228002TV7280 HvL 4a',
 'R810728022221805000081502228002TV7280M  {d  x',
 'F810728022221805000081502228002SG7280*4   Ogy',
 'R810728022221805000081502228002TV7280   d qn',
 'F810728022221805000081502228002SG7280   |V-',
 'R810728022221805000081502228002TV7280  ( m A',
 'R1805000081502228002TV7280 |',
 'F1805000081502888002SG7280|  2   a',
 'R810728022221805000081502228002TV72804   q',
 'F1805080081502228002SG7280  U  z o',
 'R1805080081502228002TV7280 X2%',
 'F1805000081502228002SG7280   \\   \\',
 'R810728022221805000081502228002TV7280Y    Z',
 'R1805080081502228002TV7280  Z )x',
 "R810728022221805000081502228002TV7280  |'oNp",
 'F1805000001502228002SG7280   + }(',
 'R1805080081502228002TV7280 X  2  \\',
 'R1805080081502228002TV72805   <????',
 'O810728022221805000081502228002TV7280 i;>   Q',
 'R810728022221805000081502228002TV7280/  s Z',
 'R810728022221805000081502228002TV7280   ( GdY',
 'R810728022221805000081502228002TV7280       7',
 'R810728022221805000081502228002TV7280x     e)',
 'R810728022221805000081502228002TV7280 *d *',
 "R810728022221805000081502228002SG7280Q&F  ' &",
 'F1805080081502228002SG7280   |   L',
 'R810728022221805000081502228002TV7280    /e,',
 '?D',
 'R810728022221805000081502228002TV7280   5',
 'F1805080081502228002SG7280;    ebJ',
 'F810728022221805000081502228002SG7280   N )H}',
 'F810728022221805000081502228002SG7280S ?  qp',
 'R810728022221805000081502228002TV7280: 2',
 '?F1',
 'R810728022221805000081502228002SG7280 (fX0S',
 'R1805000081502228002TV7280    g',
 'R810728000481805000081502228002TV72808  Sy j',
 'R810728022221805000081502228002SG7280b T    w',
 'F1805000081502228002SG7280Z',
 'R1805000081502228002SG7280 f/  d',
 'F1805000081502228002SG7280l5 |   4',
 'R1805080081502228002TV7280     p',
 'R810728022221805000081502228002SG72808 Q  F 8',
 'F1805000001502228002SG7280     aI',
 'O810728022221805000081502228002SG7280  wf8z;',
 "R810728022221805000081502228002TV7280A  '  4p",
 'F1805000081502228002SG7280  4;   I',
 'R1805000081502228002TV7280  - Y',
 "R810728022221805000081502228002TV7280   '  m",
 'R810728022221805000081502228002TV7280   4S',
 "R810728022221805000081502228002SG7280'!   T",
 'R1805000081502228002TV7280  a',
 'R810728022221805000081502228002SG7280      bF',
 'R1805000081502228002TV7280n * ,A',
 'R810728022221805000081502228002TV7280  A    H',
 'R810728022221805000081502228002TV7280    |V{',
 'R1805080081502228002TV7280{ &s  H|',
 'F810728022221805000081502228002SG7280  ;  &q',
 'R1805000081502228002TV72805 b 4',
 'F810728022221805000081502228002SG7280*  ", (',
 'R1805080081502228002TV7280 + J V 8',
 'R1805000081502228002TV7280}e     B',
 'R1805000081502228002TV7280   8{CW',
 'F810728022221805000081502228002SG7280      N>',
 'R1805080081502228002TV7280, .',
 'R810728022221805000081502228002TV7280 >?? d 4',
 'R810728022221805000081502228002SG7280 e t o',
 'X1805000081502228002SG7280  a t  (',
 '?Q',
 'R1805080081502228002TV7280  e8   w',
 'F810728022221805000081502228002SG7280 vqU  c',
 'R1805000081502228002TV7280  / :',
 'R1805080081502228002TV7280 %O+ q',
 'R2724088800000228001028542MS000002877811805080081502228002TV72807;S,AP',
 "F1805080081502228002SG7280 q) s '",
 'F810728022221805000081502228002SG7280       n',
 "R810728022221805000081502228002TV7280 K  '  O",
 'R810728022221805000081502228002SG7280 0   tc',
 'H810728022221805000081502228002TV7280   _  A',
 'R810728022221805000081502228002TV7280  w N',
 'R272408880000022754402858220000244800011805080081502228002TV7280   IV',
 'R1805000001502228002TV7280 U  R W',
 'R1805000081502228002TV7280X    >>',
 'R810728022221805000081502228002TV7280     -',
 'F810728022221805000081502228002SG7280R    S :',
 'R810728000481805000081502228002TV7280 .~ U ig',
 'R1805080081502228002SG7280 Fj1   5',
 'R2724088800000228001028542MS000002128011805080081502228002TV7280 wVv',
 'F1805080081502228002SG7280      U',
 'R810728022221805000081502228002SG7280  FJ !A',
 'R810728022221805000081502228002TV7280  S   s(',
 'F1805080081502228002SG7280  2g x',
 'R810728022221805000081502228002TV7280 g; "  I',
 'R810728022221805000081502228002TV7280LSc) )',
 'R1805000081502228002TV7280 }=  Id+',
 'R810728022221805000081502228002TV7280P Z 5k g',
 'F1805080081502228002SG7280  R ?0',
 'R810728022221805000081502228002TV72801      -',
 'R1805000081502228002TV7280id0    4',
 'F810728022221805000081502228002SG7280  4cA4',
 'R1805000081502228002TV7280g  0GW',
 'F810728022221805000081502228002SG7280v 1 - 8z',
 'F810728022221805000081502228002SG7280.-    k',
 'R810728022221805000081502228002TV7280   >????',
 '? T',
 'F1805000001502228002SG7280B  o',
 'R1805080081502228002TV7280  e i}I',
 'R810728022221805000081502228002TV7280h1 s8  K',
 'F1805080081502228002SG7280  2@  *',
 'H1805000001502228002TV7280W"?s  8',
 'F810728022221805000081502228002SG7280  U   W',
 'F810728022221805000081502228002SG7280  G U',
 'F1805000001502228002SG7280  (/(',
 'R1805080081502228002SG7280&   | ~T',
 'R1805000081502228002SG7280gR F  m+',
 'R810728022221805000081502228002TV7280  < e',
 'X1805080081502228002SG7280 I T   x',
 'R1805000081502228002SG7280  Kt C5/',
 'R810728022221805000081502228002TV7280=   *',
 'R1805000081502228002TV7280  5   sD',
 'F1805000081502228002SG7280     2 o',
 'R2724088800000228001028542MS000002888081805080081502228002TV7280',
 'F810728022221805000081502228002SG7280c  |k j',
 '?   n',
 'H1805000001502228002TV7280<B   G',
 'R1805000081502228002TV7280   N   r',
 'R1805000001502228002SG7280  f',
 'R2724088800000228001028542MS000002572881805080081502228002TV7280Q rKas{',
 'R810728022221805000081502228002TV7280  ?#   !',
 'R810728022221805000081502228002TV7280W 7 0',
 'R1805080081502228002TV7280      G@',
 'R1805080081502228002TI7280>????',
 '? Z 6',
 'R810728022221805000081502228002TV7280 2  Y{ ?',
 'H810728022221805000081502228002TV7280  X47 )',
 'F1805000001502228002SG7280  ;!   W',
 'R1805000081502228002TV7280   &  I',
 'R810728022221805000081502228002TV7280    e *n',
 'F2724088800000228001028542MS000000827721805080081502228002SG7280  b  I',
 '?  \\d |J',
 'F810728022221805000081502228002SG7280q    Bg',
 'R1805000081502228002TV72802  _  --',
 'X1805080081502228002TI7280 r&????',
 'R810728022221805000081502228002TV7280R   ,',
 'R1805000081502228002TV7280q   h|iQ',
 'R810728022221805000081502228002TV7280     V/',
 'F1805000081502228002SG7280  @    h',
 'F1805000001502228002SG7280 F1   IG',
 'F810728022221805000081502228002SG7280. /{ !',
 'R810728022221805000081502228002SG7280 I F; %',
 'R1805000081502228002TV7280  ~=b',
 'F1805000001502228002SG7280  X  Jb',
 'F1805080081502228002SG7280|   ,D :',
 'R810728022221805000081502228002TV7280 1e',
 'R1805000081502228002TV7280B  | G',
 'F1805000001502228002SG7280s     I_',
 'R1805000081502228002TV7280@     !',
 'R1805080081502228002TV7280      QE',
 'R1805080081502228002TV7280,',
 'F1805000001502228002SG7280 \\G&',
 'R810728022221805000081502228002TV7280      >?',
 'R810728022221805000081502228002TV7280 I  s _',
 'F810728022221805000081502228002SG7280  m   c',
 'F810728022221805000081502228002SG7280{-Z2  +',
 'R810728022221805000081502228002SG7280    t w',
 'H810728022221805000081502228002SG7280 f     :',
 'F1805000001502228002SG7280  >    +',
 'R810728022221805000081502228002SG72805 T:   B',
 'F1805000001502228002SG7280$5  g2<|',
 'F810728022221805000081502228002SG7280 ?v',
 'R810728022221805000081502228002TV7280   BR  e',
 'R810728022221805000081502228002TV7280 /h  u',
 'R1805080081502228002TV7280 o a  .x',
 'F1805080081502228002SG7280o g \\',
 'R1805080081502228002TV7280       ^',
 'R1805000081502228002TV7280 2 e   B',
 'R810728022221805000081502228002TV7280s   s',
 'R1805000081502228002TV7280   NLEX_',
 'R1805000081502228002TV7280g  DD2A',
 'R1805000081502228002SG7280  \\ F  c',
 'R1805080081502228002TV7280 s< !_',
 'R1805080081502228002TV7280  obg /',
 'H810728027742202001502228002TV7280} >',
 'F1805000001502228002SG7280 P F8&r',
 'R2724088800000228001028542MS000004012141805080081502228002TV7280 r! *8',
 'R1805080081502228002TV7280r  j7v',
 'H1805080081502228002TI7280  4=X" <????',
 'R810728022221805000081502228002TV7280U   0  c',
 'H1805000001502228002TV7280   8 ?',
 'F1805080081502228002SG7280   L  ws',
 "R1805000081502228002TV7280+ '2 n|1",
 'R1805080081502228002SG7280|   f',
 'R1805080081502228002TV7280 P ~wd',
 'F1805000081502888002SG7280  5 ~a "',
 'R810728022221805000081502228002TV7280 VvZ  k',
 'F810728022221805000081502228002SG7280  i $H',
 'R810728022221805000081502228002SG7280t     ^',
 'R1805000081502888002SG7280o   YUfV',
 'F810728022221805000081502228002SG7280    z /O',
 'R810728022221805000081502228002TV7280  Z    =',
 '? }',
 'R810728022221805000081502228002TV7280   o ZOm',
 'R810728022221805000081502228002TV7280   p',
 'R1805000081502228002TV7280   ! JB',
 'R1805000081502228002TV7280 d A',
 'R810728022221805000081502228002TV7280   M :',
 'F810728022221805000081502228002SG7280   q)',
 '?!{ /',
 'F1805000081502228002SG7280 p    y',
 'R1805000081502228002TV7280   ;',
 'R810728022221805000081502228002TV7280   A |g#',
 'F810728022221805000081502228002SG7280 / _O D',
 'R272408880000022754402858220000572045181805080081502228002TV7280 N  K  .',
 'R1805080081502228002TV7280 ^    cB',
 'R810728022221805000081502228002TV7280   RP  q',
 'R1805000081502228002TV7280  I:   w',
 'R1805000081502228002TV7280  O  A',
 'R1805000081502228002SG7280t *  ~ G',
 'X1805000001502228002SG7280 *  T',
 'F810728022221805000081502228002SG7280 G \\+',
 'R1805000081502228002TV7280 "????',
 'R1805000081502228002SG7280v  )T',
 'R1805000081502228002SG7280 T 2',
 'R1805000081502228002TV7280 O ?',
 'F1805000001502228002SG7280  *  /',
 'R810728022221805000081502228002TV7280   wP  {',
 '?{ A&',
 'H810728022221805000081502228002SG7280t  Zs #',
 'F810728022221805000081502228002SG72804      w',
 'R1805000081502228002TV7280    LY*',
 'F2724088800000228001028542MS000000808281805080081502228002SG7280 ).  E',
 'F810728022221805000081502228002SG7280 z    s',
 'R1805000081502228002TV7280 A&  I',
 'F1805000001502228002SG7280N? qA',
 'X1805080081502228002SG7280  l &  t',
 'R1805080081502228002SG7280 Z   dwf',
 'F2724088800000228001028542MS000000801781805080081502228002SG7280,j    $',
 'F810728022221805000081502228002SG7280    C',
 'R6805000087280 #2+',
 'F810728022221805000081502228002SG7280$z ,yg K',
 'R1805080081502228002TV7280     u',
 'R810728022221805000081502228002TV7280    y  Z',
 'R1805000081502228002TV7280N   Y #',
 'F1805080081502228002SG7280j$84 c y',
 'R810728022221805000081502228002TV7280       X',
 'R810728022221805000081502228002TV7280x4)',
 'F810728022221805000081502228002SG72804   4D',
 'H810728022221805000081502228002TV7280<  : Mk',
 'R810728022221805000081502228002TV7280 n p ,',
 'F1805000001502228002SG7280 -Dq',
 'R810728022221805000081502228002TV7280!( 8Q ~v',
 'R1805000081502228002TV7280NE/8,',
 'R810728000481805000001502228002TV7280 q  b{V',
 'R1805000081502228002SG7280t    D',
 'R810728022221805000081502228002TV7280     i K',
 'R810728022221805000081502228002TV7280#  n|+',
 'H1805080081502228002TV7280$gr|z',
 'R1805080081502228002TV7280   v +',
 '?  9',
 'R1805000081502228002TV7280(?2  #',
 'F1805000081502228002SG7280       \\',
 'R1805080081502228002TV7280   h',
 'H1805080081502228002TV7280C  1 O,',
 'R810728022221805000081502228002TV7280 G\\  i)',
 'R810728022221805000081502228002TV7280 H h 2N',
 'R1805000081502228002TV7280D OHg5',
 'R1805000081502228002TV7280  5    x',
 '?      #',
 'F810728022221805000081502228002SG7280   {',
 '?ae',
 'R1805000081502228002TV7280>(AQeOV?',
 'F1805000001502228002SG7280  Vc V',
 "R1805000081502888002TV7280   z'",
 'R1805000081502228002TV7280J g {W',
 'R810728022221805000081502228002TV7280v   D',
 'F1805000081502228002SG7280z  I   K',
 'R22018750081805800088002SG7280  7~?-FS',
 'R810728022221805000081502228002SG7280W| g. fo',
 'R810728022221805000081502228002TV7280 v h 1 i',
 'R1805000081502888002TV7280',
 'F810728022221805000081502228002SG7280  o  &#Q',
 'F1805000081502228002SG7280       u',
 'F1805000001502228002SG7280z',
 'F1805000001502228002SG7280   hF0 Z',
 'R1805000001502228002TV7280 m= bK Y',
 'F810728022221805000081502228002SG7280p     7',
 'R810728022221805000081502228002TV7280    W x',
 'F810728022221805000081502228002SG7280    ,V',
 'R810728000481805000081502228002TV7280   u|',
 'R1805000081502228002SG7280Ho  c  f',
 "R810728022221805000081502228002TV7280')   4eg",
 'R1805000081502228002SG7280  F r &Z',
 'R1805000081502228002TV7280  z   VB',
 'H810728022221805000081502228002SG7280    f+',
 'R1805000081502228002TV7280   - <i',
 'R1805000081502888002TV7280    W .',
 'R1805080081502228002TV7280 2A',
 'F1805080081502228002SG7280p W2 Oz',
 'R1805000081502228002TV7280  _? Ci',
 'F1805000001502228002SG7280   C   S',
 'R1805000081502228002TV7280 c  I4n',
 'R1805080081502228002TV7280PX  Bh',
 'R1805000081502228002TV7280JM   N r',
 'R810728022221805000081502228002TV7280;   Cli',
 'F810728022221805000081502228002SG7280     :',
 'F1805080081502228002SG7280 W   -',
 'R1805080081502228002TV7280 \\     |',
 'R810728022221805000081502228002TV7280_   R i',
 'R810728022221805000081502228002TV7280\\  BP',
 'F810728022221805000081502228002SG7280  :?',
 'R810728022221805000081502228002TV7280 -S b ,',
 'R2724088800000228001028542MS000000845821805080081502228002TV7280&Mq   e',
 'X1805000001502228002SG7280T2   ;',
 'R1805000081502228002TV7280 "  >  _',
 'F1805000001502228002SG7280 HAoz  -',
 'R1805080081502228002TV7280   ?   z',
 'R810728022221805000081502228002TV72804Q k',
 'F1805080081502228002SG7280 !',
 'R810728022221805000081502228002TV7280  n    8',
 'R810728022221805000081502228002TV7280 V',
 'F810728022221805000081502228002SG7280      B#',
 'R1805000081502228002TV72802D  k',
 'X810728000481805000001502228002SG7280  l  T',
 'F1805000001502228002SG7280  Y',
 'R810728022221805000081502228002TV7280O2 j/',
 'F2724088800000228001028542MS000008252581805080081502228002SG7280      b>',
 'R2724088800000228001028542MS000002274211805080081502228002TV7280*  nA R=',
 'R1805000081502228002TV7280       B',

In [38]:
data2['TRANSACTION_AMOUNT'].dtype.name == 'object'

True

In [49]:
data2['Transaction Date and Time'].dtype.name

'object'

In [78]:
np.where(data2['CONVERSION_RATE_DATE'].isnull())[0]

0

In [79]:
data2.fillna('a')
data2.head()

  Card-Wallet-Token ID PROCESSING_CODE  ... Token Data     TARGET
1     6086941819072006          174000  ...        NaN  Not Fraud
2     6086941026163002          174000  ...        NaN  Not Fraud
3     6086941026163002          174000  ...        NaN  Not Fraud
4     6086941055683003          174000  ...        NaN  Not Fraud
5     6086941020177008          004000  ...        NaN  Not Fraud

[5 rows x 36 columns]